openapi: 3.2.0
info:
  title: TextQL Sandbox Capability Service API
  version: 1.0.0
  description: 'TextQL public API. Generated from protobuf service definitions; internal

    endpoints are excluded via google.api.visibility / file_visibility.'
servers:
- url: https://app.textql.com/rpc/public
security:
- apiKey: []
tags:
- name: SandboxCapabilityService
paths:
  /textql.rpc.public.sandbox_capability.SandboxCapabilityService/ExecuteWrite:
    post:
      tags:
      - SandboxCapabilityService
      summary: ExecuteWrite
      operationId: SandboxCapabilityService_ExecuteWrite
      x-speakeasy-group: sandboxCapabilities
      x-speakeasy-name-override: executeWrite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxExecuteWriteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxExecuteWriteResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.sandboxCapabilities.executeWrite({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.sandbox_capabilities.execute_write()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.sandbox_capability.SandboxCapabilityService/PollAsk:
    post:
      tags:
      - SandboxCapabilityService
      summary: PollAsk
      operationId: SandboxCapabilityService_PollAsk
      x-speakeasy-group: sandboxCapabilities
      x-speakeasy-name-override: pollAsk
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxPollAskRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxPollAskResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.sandboxCapabilities.pollAsk({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.sandbox_capabilities.poll_ask()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.sandbox_capability.SandboxCapabilityService/PutAsset:
    post:
      tags:
      - SandboxCapabilityService
      summary: PutAsset
      operationId: SandboxCapabilityService_PutAsset
      x-speakeasy-group: sandboxCapabilities
      x-speakeasy-name-override: putAsset
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxPutAssetRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxPutAssetResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.sandboxCapabilities.putAsset({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.sandbox_capabilities.put_asset()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.sandbox_capability.SandboxCapabilityService/SendNotify:
    post:
      tags:
      - SandboxCapabilityService
      summary: SendNotify
      operationId: SandboxCapabilityService_SendNotify
      x-speakeasy-group: sandboxCapabilities
      x-speakeasy-name-override: sendNotify
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxSendNotifyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxSendNotifyResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.sandboxCapabilities.sendNotify({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.sandbox_capabilities.send_notify()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.sandbox_capability.SandboxCapabilityService/StartAsk:
    post:
      tags:
      - SandboxCapabilityService
      summary: StartAsk
      operationId: SandboxCapabilityService_StartAsk
      x-speakeasy-group: sandboxCapabilities
      x-speakeasy-name-override: startAsk
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxStartAskRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxStartAskResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.sandboxCapabilities.startAsk({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.sandbox_capabilities.start_ask()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.sandbox_capability.SandboxCapabilityService/StateOp:
    post:
      tags:
      - SandboxCapabilityService
      summary: StateOp
      operationId: SandboxCapabilityService_StateOp
      x-speakeasy-group: sandboxCapabilities
      x-speakeasy-name-override: stateOp
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxStateOpRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.SandboxStateOpResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.sandboxCapabilities.stateOp({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.sandbox_capabilities.state_op()\n\n    # Handle response\n    print(res)"
components:
  schemas:
    textql.rpc.public.sandbox_capability.SandboxStateOpResponse:
      type: object
      properties:
        value:
          type: string
          title: value
        found:
          type: boolean
          title: found
        keys:
          type: array
          items:
            type: string
          title: keys
        error:
          type: string
          title: error
        refreshedToken:
          type: string
          title: refreshed_token
          nullable: true
      title: SandboxStateOpResponse
      additionalProperties: false
    textql.rpc.public.sandbox_capability.SandboxSendNotifyRequest:
      type: object
      properties:
        name:
          type: string
          title: name
        subject:
          type: string
          title: subject
        body:
          type: string
          title: body
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.sandbox_query.SandboxQueryParam'
          title: parameters
      title: SandboxSendNotifyRequest
      additionalProperties: false
    textql.rpc.public.sandbox_capability.SandboxPutAssetRequest:
      type: object
      properties:
        fileName:
          type: string
          title: file_name
        contentType:
          type: string
          title: content_type
        data:
          type: string
          title: data
          format: byte
      title: SandboxPutAssetRequest
      additionalProperties: false
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
          - not_found
          enum:
          - canceled
          - unknown
          - invalid_argument
          - deadline_exceeded
          - not_found
          - already_exists
          - permission_denied
          - resource_exhausted
          - failed_precondition
          - aborted
          - out_of_range
          - unimplemented
          - internal
          - unavailable
          - data_loss
          - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    textql.rpc.public.sandbox_capability.SandboxPollAskResponse:
      type: object
      properties:
        status:
          type: string
          title: status
          description: running | complete | error
        cursor:
          type: string
          title: cursor
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.sandbox_capability.AskBlock'
          title: blocks
        chatId:
          type: string
          title: chat_id
        chatUrl:
          type: string
          title: chat_url
        error:
          type: string
          title: error
        refreshedToken:
          type: string
          title: refreshed_token
          nullable: true
      title: SandboxPollAskResponse
      additionalProperties: false
    textql.rpc.public.sandbox_capability.SandboxStartAskResponse:
      type: object
      properties:
        askId:
          type: string
          title: ask_id
        chatId:
          type: string
          title: chat_id
        chatUrl:
          type: string
          title: chat_url
        cursor:
          type: string
          title: cursor
        error:
          type: string
          title: error
        refreshedToken:
          type: string
          title: refreshed_token
          nullable: true
      title: SandboxStartAskResponse
      additionalProperties: false
      description: ask_id is "chat:<chat_id>" for base-agent asks, "agent:<task_id>" for named-agent runs.
    textql.rpc.public.sandbox_capability.SandboxSendNotifyResponse:
      type: object
      properties:
        sent:
          type: boolean
          title: sent
        error:
          type: string
          title: error
        refreshedToken:
          type: string
          title: refreshed_token
          nullable: true
      title: SandboxSendNotifyResponse
      additionalProperties: false
    textql.rpc.public.sandbox_capability.AskBlock:
      type: object
      properties:
        type:
          type: string
          title: type
          description: markdown | chart | link
        content:
          type: string
          title: content
          description: 'markdown blocks: the markdown text'
        url:
          type: string
          title: url
          description: chart/link blocks
        title:
          type: string
          title: title
          description: chart/link blocks; optional
      title: AskBlock
      additionalProperties: false
    connect-timeout-header:
      type: number
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    textql.rpc.public.sandbox_capability.SandboxPollAskRequest:
      type: object
      properties:
        name:
          type: string
          title: name
        agentId:
          type: string
          title: agent_id
        askId:
          type: string
          title: ask_id
        cursor:
          type: string
          title: cursor
        appDb:
          type: string
          title: app_db
      title: SandboxPollAskRequest
      additionalProperties: false
    textql.rpc.public.sandbox_query.SandboxQueryParam:
      type: object
      properties:
        name:
          type: string
          title: name
        value:
          type: string
          title: value
      title: SandboxQueryParam
      additionalProperties: false
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
      - 1
      description: Define the version of the Connect protocol
      const: 1
      default: 1
    textql.rpc.public.sandbox_capability.SandboxExecuteWriteRequest:
      type: object
      properties:
        name:
          type: string
          title: name
        connectorId:
          type: integer
          title: connector_id
          format: int32
        statement:
          type: string
          title: statement
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.sandbox_query.SandboxQueryParam'
          title: parameters
        maxRows:
          type:
          - integer
          - string
          title: max_rows
          format: int64
      title: SandboxExecuteWriteRequest
      additionalProperties: false
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`. This is used to determine the schema of the data in the `value` field and is the discriminator for the `debug` field.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          oneOf:
          - type: object
            title: Any
            additionalProperties: true
            description: Detailed error information.
          discriminator:
            propertyName: type
          title: Debug
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    textql.rpc.public.sandbox_capability.SandboxStartAskRequest:
      type: object
      properties:
        name:
          type: string
          title: name
        agentId:
          type: string
          title: agent_id
        prompt:
          type: string
          title: prompt
        appDb:
          type: string
          title: app_db
        continueAskId:
          type: string
          title: continue_ask_id
          description: ask id of an earlier base-agent ask to follow up in; empty starts a new thread
      title: SandboxStartAskRequest
      additionalProperties: false
    textql.rpc.public.sandbox_capability.SandboxPutAssetResponse:
      type: object
      properties:
        url:
          type: string
          title: url
        error:
          type: string
          title: error
        refreshedToken:
          type: string
          title: refreshed_token
          nullable: true
      title: SandboxPutAssetResponse
      additionalProperties: false
    textql.rpc.public.sandbox_capability.SandboxStateOpRequest:
      type: object
      properties:
        op:
          type: string
          title: op
        scope:
          type: string
          title: scope
        key:
          type: string
          title: key
        value:
          type: string
          title: value
      title: SandboxStateOpRequest
      additionalProperties: false
    textql.rpc.public.sandbox_capability.SandboxExecuteWriteResponse:
      type: object
      properties:
        arrowData:
          type: string
          title: arrow_data
          format: byte
        totalRows:
          type:
          - integer
          - string
          title: total_rows
          format: int64
        error:
          type: string
          title: error
        refreshedToken:
          type: string
          title: refreshed_token
          nullable: true
      title: SandboxExecuteWriteResponse
      additionalProperties: false
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: tql_api_key
