openapi: 3.2.0
info:
  title: TextQL Playbook Service API
  version: 1.0.0
  description: 'TextQL public API. Generated from protobuf service definitions; internal

    endpoints are excluded via google.api.visibility / file_visibility.'
servers:
- url: https://app.textql.com/rpc/public
security:
- apiKey: []
tags:
- name: PlaybookService
paths:
  /textql.rpc.public.playbook.PlaybookService/AttachDashboard:
    post:
      tags:
      - PlaybookService
      summary: AttachDashboard
      operationId: PlaybookService_AttachDashboard
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: attachDashboard
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookAttachDashboardRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookAttachDashboardResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.attachDashboard({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.attach_dashboard()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/AttachDataset:
    post:
      tags:
      - PlaybookService
      summary: AttachDataset
      operationId: PlaybookService_AttachDataset
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: attachDataset
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookAttachDatasetRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookAttachDatasetResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.attachDataset({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.attach_dataset()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/CancelTemplateExecution:
    post:
      tags:
      - PlaybookService
      summary: Cancel template execution for a specific template header
      operationId: PlaybookService_CancelTemplateExecution
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: cancelTemplateExecution
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.CancelTemplateExecutionRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.CancelTemplateExecutionResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.cancelTemplateExecution({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.cancel_template_execution()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/CreatePlaybook:
    post:
      tags:
      - PlaybookService
      summary: CreatePlaybook
      operationId: PlaybookService_CreatePlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: createPlaybook
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.CreatePlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.CreatePlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.createPlaybook({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.create_playbook(body={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/DeactivatePlaybook:
    post:
      tags:
      - PlaybookService
      summary: DeactivatePlaybook
      operationId: PlaybookService_DeactivatePlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: deactivate
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.DeactivatePlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.deactivate({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.deactivate()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/DeletePlaybook:
    post:
      tags:
      - PlaybookService
      summary: DeletePlaybook
      operationId: PlaybookService_DeletePlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: delete
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.DeletePlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.DeletePlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.delete({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.delete()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/DemoPlaybook:
    post:
      tags:
      - PlaybookService
      summary: DemoPlaybook
      operationId: PlaybookService_DemoPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: demoPlaybook
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.DemoPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.DemoPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.demoPlaybook({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.demo_playbook()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/DeployPlaybook:
    post:
      tags:
      - PlaybookService
      summary: DeployPlaybook
      operationId: PlaybookService_DeployPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: deploy
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.DeployPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.DeployPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.deploy({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.deploy()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/DuplicatePlaybook:
    post:
      tags:
      - PlaybookService
      summary: DuplicatePlaybook
      operationId: PlaybookService_DuplicatePlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: duplicate
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.DuplicatePlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.DuplicatePlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.duplicate({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.duplicate()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/FavoriteReport:
    post:
      tags:
      - PlaybookService
      summary: Favorite report management
      operationId: PlaybookService_FavoriteReport
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: favoriteReport
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.FavoriteReportRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.FavoriteReportResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.favoriteReport({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.favorite_report()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetActiveSubscribedPlaybooksCount:
    post:
      tags:
      - PlaybookService
      summary: GetActiveSubscribedPlaybooksCount
      operationId: PlaybookService_GetActiveSubscribedPlaybooksCount
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getActiveSubscribedCount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetActiveSubscribedPlaybooksCountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetActiveSubscribedPlaybooksCountResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getActiveSubscribedCount({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_active_subscribed_count(body={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetChatReportsSummary:
    post:
      tags:
      - PlaybookService
      summary: Lightweight endpoint for chat report drawer - returns summaries without full…
      description: Lightweight endpoint for chat report drawer - returns summaries without full blocks
      operationId: PlaybookService_GetChatReportsSummary
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getChatReportsSummary
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetChatReportsSummaryRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetChatReportsSummaryResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getChatReportsSummary({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_chat_reports_summary()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetMembersWithPlaybooks:
    post:
      tags:
      - PlaybookService
      summary: GetMembersWithPlaybooks
      operationId: PlaybookService_GetMembersWithPlaybooks
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getMembersWith
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetMembersWithPlaybooksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetMembersWithPlaybooksResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getMembersWith({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_members_with(body={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetPlaybook:
    post:
      tags:
      - PlaybookService
      summary: GetPlaybook
      operationId: PlaybookService_GetPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: fetch
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.fetch({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.fetch()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetPlaybookBatchRun:
    post:
      tags:
      - PlaybookService
      summary: Get a specific batch run
      operationId: PlaybookService_GetPlaybookBatchRun
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getBatchRun
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookBatchRunRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookBatchRunResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getBatchRun({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_batch_run()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetPlaybookLineage:
    post:
      tags:
      - PlaybookService
      summary: GetPlaybookLineage
      operationId: PlaybookService_GetPlaybookLineage
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getPlaybookLineage
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookLineageRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookLineageResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getPlaybookLineage({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_playbook_lineage()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetPlaybookReports:
    post:
      tags:
      - PlaybookService
      summary: GetPlaybookReports
      operationId: PlaybookService_GetPlaybookReports
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getReports
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookReportsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookReportsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getReports({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_reports()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetPlaybookReportsBatch:
    post:
      tags:
      - PlaybookService
      summary: Get reports for multiple template data IDs in a single batch request
      operationId: PlaybookService_GetPlaybookReportsBatch
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getPlaybookReportsBatch
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookReportsBatchRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybookReportsBatchResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getPlaybookReportsBatch({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_playbook_reports_batch()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetPlaybooks:
    post:
      tags:
      - PlaybookService
      summary: GetPlaybooks
      operationId: PlaybookService_GetPlaybooks
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybooksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybooksResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.get({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetPlaybooksPreviews:
    post:
      tags:
      - PlaybookService
      summary: GetPlaybooksPreviews
      operationId: PlaybookService_GetPlaybooksPreviews
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getPlaybooksPreviews
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybooksPreviewsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetPlaybooksPreviewsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getPlaybooksPreviews({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_playbooks_previews()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetReportById:
    post:
      tags:
      - PlaybookService
      summary: Get a single report by ID
      operationId: PlaybookService_GetReportById
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getReportById
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetReportByIdRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetReportByIdResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getReportById({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_report_by_id()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/GetReportsWithFilters:
    post:
      tags:
      - PlaybookService
      summary: GetReportsWithFilters
      operationId: PlaybookService_GetReportsWithFilters
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: getReportsWithFilters
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.GetReportsWithFiltersRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.GetReportsWithFiltersResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.getReportsWithFilters({\n    body: {\n      filters: {\n        startTime: new Date(\"2023-01-15T01:30:15.01Z\"),\n        endTime: new Date(\"2023-01-15T01:30:15.01Z\"),\n      },\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.get_reports_with_filters(filters={\n        \"start_time\": parse_datetime(\"2023-01-15T01:30:15.01Z\"),\n        \"end_time\": parse_datetime(\"2023-01-15T01:30:15.01Z\"),\n    })\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/ListAllSlackChannelContextPlaybooks:
    post:
      tags:
      - PlaybookService
      summary: List all Slack channels context playbook mappings for the organization
      operationId: PlaybookService_ListAllSlackChannelContextPlaybooks
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: listSlackChannelContextPlaybooks
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.ListAllSlackChannelContextPlaybooksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.ListAllSlackChannelContextPlaybooksResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.listSlackChannelContextPlaybooks({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.list_slack_channel_context_playbooks(body={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/ListAllTeamsChannelContextPlaybooks:
    post:
      tags:
      - PlaybookService
      summary: ListAllTeamsChannelContextPlaybooks
      operationId: PlaybookService_ListAllTeamsChannelContextPlaybooks
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: listAllTeamsChannelContextPlaybooks
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.ListAllTeamsChannelContextPlaybooksRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.ListAllTeamsChannelContextPlaybooksResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.listAllTeamsChannelContextPlaybooks({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.list_all_teams_channel_context_playbooks(body={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/ListPlaybookBatchRuns:
    post:
      tags:
      - PlaybookService
      summary: List batch runs for a playbook
      operationId: PlaybookService_ListPlaybookBatchRuns
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: listBatchRuns
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.ListPlaybookBatchRunsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.ListPlaybookBatchRunsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.listBatchRuns({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.list_batch_runs()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/ListSlackChannelsForContextPlaybook:
    post:
      tags:
      - PlaybookService
      summary: List Slack channel IDs where the given playbook is set as the context
      operationId: PlaybookService_ListSlackChannelsForContextPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: listSlackChannelsForContext
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.ListSlackChannelsForContextPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.ListSlackChannelsForContextPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.listSlackChannelsForContext({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.list_slack_channels_for_context()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/ListTeamsChannelsForContextPlaybook:
    post:
      tags:
      - PlaybookService
      summary: ListTeamsChannelsForContextPlaybook
      operationId: PlaybookService_ListTeamsChannelsForContextPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: listTeamsChannelsForContextPlaybook
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.ListTeamsChannelsForContextPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.ListTeamsChannelsForContextPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.listTeamsChannelsForContextPlaybook({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.list_teams_channels_for_context_playbook()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/MarkReportAsRead:
    post:
      tags:
      - PlaybookService
      summary: Report read tracking
      operationId: PlaybookService_MarkReportAsRead
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: markReportAsRead
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.MarkReportAsReadRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.MarkReportAsReadResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.markReportAsRead({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.mark_report_as_read()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/PreviewSlackReport:
    post:
      tags:
      - PlaybookService
      summary: PreviewSlackReport
      operationId: PlaybookService_PreviewSlackReport
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: previewSlackReport
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.PreviewSlackReportRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.PreviewSlackReportResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.previewSlackReport({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.preview_slack_report()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/RemoveDashboard:
    post:
      tags:
      - PlaybookService
      summary: RemoveDashboard
      operationId: PlaybookService_RemoveDashboard
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: removeDashboard
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookRemoveDashboardRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookRemoveDashboardResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.removeDashboard({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.remove_dashboard()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/RemoveDataset:
    post:
      tags:
      - PlaybookService
      summary: RemoveDataset
      operationId: PlaybookService_RemoveDataset
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: removeDataset
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookRemoveDatasetRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookRemoveDatasetResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.removeDataset({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.remove_dataset()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/RunPlaybook:
    post:
      tags:
      - PlaybookService
      summary: RunPlaybook
      operationId: PlaybookService_RunPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: run
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.RunPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.RunPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.run({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.run()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/SetSlackChannelContextPlaybook:
    post:
      tags:
      - PlaybookService
      summary: Set the context playbook for a Slack channel.
      description: 'Set the context playbook for a Slack channel. This associates the given

        playbook to a Slack channel so that Slack messages in that channel use the

        playbook''s context by default.'
      operationId: PlaybookService_SetSlackChannelContextPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: setSlackChannelContextPlaybook
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.SetSlackChannelContextPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.SetSlackChannelContextPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.setSlackChannelContextPlaybook({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.set_slack_channel_context_playbook()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/SetTeamsChannelContextPlaybook:
    post:
      tags:
      - PlaybookService
      summary: SetTeamsChannelContextPlaybook
      operationId: PlaybookService_SetTeamsChannelContextPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: setTeamsChannelContext
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.SetTeamsChannelContextPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.SetTeamsChannelContextPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.setTeamsChannelContext({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.set_teams_channel_context()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/SubscribeToPlaybook:
    post:
      tags:
      - PlaybookService
      summary: SubscribeToPlaybook
      operationId: PlaybookService_SubscribeToPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: subscribe
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.SubscribeToPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.SubscribeToPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.subscribe({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.subscribe()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/UnsetSlackChannelContextPlaybook:
    post:
      tags:
      - PlaybookService
      summary: Unset the context playbook for a Slack channel.
      description: 'Unset the context playbook for a Slack channel. This clears any association

        so that messages in this channel no longer use a specific playbook context.'
      operationId: PlaybookService_UnsetSlackChannelContextPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: unsetSlackChannelContextPlaybook
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.UnsetSlackChannelContextPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.UnsetSlackChannelContextPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.unsetSlackChannelContextPlaybook({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.unset_slack_channel_context_playbook()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/UnsetTeamsChannelContextPlaybook:
    post:
      tags:
      - PlaybookService
      summary: UnsetTeamsChannelContextPlaybook
      operationId: PlaybookService_UnsetTeamsChannelContextPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: unsetTeamsChannelContext
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.UnsetTeamsChannelContextPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.UnsetTeamsChannelContextPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.unsetTeamsChannelContext({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.unset_teams_channel_context()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/UnsubscribeFromPlaybook:
    post:
      tags:
      - PlaybookService
      summary: UnsubscribeFromPlaybook
      operationId: PlaybookService_UnsubscribeFromPlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: unsubscribe
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.UnsubscribeFromPlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.UnsubscribeFromPlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.unsubscribe({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.unsubscribe()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.playbook.PlaybookService/UpdatePlaybook:
    post:
      tags:
      - PlaybookService
      summary: UpdatePlaybook
      operationId: PlaybookService_UpdatePlaybook
      x-speakeasy-group: playbooks
      x-speakeasy-name-override: update
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.playbook.UpdatePlaybookRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.playbook.UpdatePlaybookResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.playbooks.update({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.playbooks.update()\n\n    # Handle response\n    print(res)"
components:
  schemas:
    textql.rpc.public.common.SortDirection:
      type: string
      title: SortDirection
      enum:
      - SORT_DIRECTION_UNKNOWN
      - SORT_DIRECTION_ASC
      - SORT_DIRECTION_DESC
      description: Common enum for sort direction used across multiple services
    textql.rpc.public.dashboard.Grant:
      type: object
      properties:
        roles:
          type: array
          items:
            type: string
          title: roles
          description: org role names
        members:
          type: array
          items:
            type: string
          title: members
          description: explicit member ids
      title: Grant
      additionalProperties: false
      description: "Grant is an author allowlist gating a data source or compute function. A viewer whose\n effective role names intersect roles, or whose member id is listed in members, may call it.\n Absent grant = org-visible (today's behavior); an empty grant object is invalid."
    textql.rpc.public.playbook.CancelTemplateExecutionResponse:
      type: object
      properties:
        success:
          type: boolean
          title: success
        cancelledCount:
          type: integer
          title: cancelled_count
          format: int32
          description: Number of template executions that were cancelled
      title: CancelTemplateExecutionResponse
      additionalProperties: false
      description: Response from canceling template execution
    textql.rpc.public.reports.ReportBlock:
      type: object
      oneOf:
      - type: object
        properties:
          card:
            title: card
            $ref: '#/components/schemas/textql.rpc.public.reports.CardBlock'
        title: card
        required:
        - card
      - type: object
        properties:
          divider:
            title: divider
            $ref: '#/components/schemas/textql.rpc.public.reports.DividerBlock'
        title: divider
        required:
        - divider
      - type: object
        properties:
          hero:
            title: hero
            $ref: '#/components/schemas/textql.rpc.public.reports.HeroBlock'
        title: hero
        required:
        - hero
      - type: object
        properties:
          image:
            title: image
            $ref: '#/components/schemas/textql.rpc.public.reports.ImageBlock'
        title: image
        required:
        - image
      - type: object
        properties:
          imageText:
            title: image_text
            $ref: '#/components/schemas/textql.rpc.public.reports.ImageTextBlock'
        title: image_text
        required:
        - imageText
      - type: object
        properties:
          list:
            title: list
            $ref: '#/components/schemas/textql.rpc.public.reports.ListBlock'
        title: list
        required:
        - list
      - type: object
        properties:
          spacer:
            title: spacer
            $ref: '#/components/schemas/textql.rpc.public.reports.SpacerBlock'
        title: spacer
        required:
        - spacer
      - type: object
        properties:
          text:
            title: text
            $ref: '#/components/schemas/textql.rpc.public.reports.TextBlock'
        title: text
        required:
        - text
      title: ReportBlock
      additionalProperties: false
    textql.rpc.public.playbook.ListAllTeamsChannelContextPlaybooksRequest:
      type: object
      title: ListAllTeamsChannelContextPlaybooksRequest
      additionalProperties: false
    textql.rpc.public.dashboard.Dashboard:
      type: object
      properties:
        id:
          type: string
          title: id
        orgId:
          type: string
          title: org_id
        creatorId:
          type: string
          title: creator_id
        name:
          type: string
          title: name
        description:
          type: string
          title: description
          nullable: true
        code:
          type: string
          title: code
        type:
          title: type
          $ref: '#/components/schemas/textql.rpc.public.dashboard.DashboardType'
        chatId:
          type: string
          title: chat_id
          nullable: true
        cellId:
          type: string
          title: cell_id
          nullable: true
        isPublic:
          type: boolean
          title: is_public
        screenshotUrl:
          type: string
          title: screenshot_url
          nullable: true
        htmlUrl:
          type: string
          title: html_url
          description: URL for serving HTML dashboards
          nullable: true
        createdAt:
          title: created_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        updatedAt:
          title: updated_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        refreshedAt:
          title: refreshed_at
          description: Last time dashboard was executed (manual or scheduled)
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        creator:
          title: creator
          description: Enriched fields (not stored in DB)
          nullable: true
          $ref: '#/components/schemas/textql.rpc.public.dashboard.DashboardCreator'
        streamlitUrl:
          type: string
          title: streamlit_url
          description: Active URL if spawned
          nullable: true
        status:
          title: status
          description: Workflow fields
          $ref: '#/components/schemas/textql.rpc.public.dashboard.DashboardStatus'
        publishedCode:
          type: string
          title: published_code
          nullable: true
        publishedAt:
          title: published_at
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        hasUnpublishedChanges:
          type: boolean
          title: has_unpublished_changes
          description: 'Computed: code != published_code'
        dataSources:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.dashboard.DataSource'
          title: data_sources
          description: Data sources (SQL queries, uploaded files, etc.)
        scheduleEnabled:
          type: boolean
          title: schedule_enabled
          description: Scheduling
        cronString:
          type: string
          title: cron_string
          nullable: true
        latestScheduledRunAt:
          title: latest_scheduled_run_at
          description: Last time scheduled run was triggered
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        folderId:
          type: string
          title: folder_id
          description: Folder
          nullable: true
        configSource:
          title: config_source
          description: "Config-management metadata (ADR-0014/0021). Present ⇒ the dashboard is defined\n by a `.dashboard` Library file: it is read-only in the UI (mutating RPCs are\n rejected) and changed only by editing its file. Clients detect config-management\n by presence, the same way they do for playbooks."
          nullable: true
          $ref: '#/components/schemas/textql.rpc.public.config_source.ConfigSource'
        isFavorited:
          type: boolean
          title: is_favorited
          description: per-caller pin state (enriched, not stored on the dashboard)
      title: Dashboard
      additionalProperties: false
    textql.rpc.public.playbook.CreatePlaybookRequest:
      type: object
      title: CreatePlaybookRequest
      additionalProperties: false
    textql.rpc.public.dashboard.PythonCodeSource:
      type: object
      properties:
        code:
          type: string
          title: code
      title: PythonCodeSource
      additionalProperties: false
    textql.rpc.identity.MemberPreview:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
        memberEmail:
          type: string
          title: member_email
          description: "the fields are optionally populated, depending on the context\n may require RPC fields such as `include_owner` to be set to true"
          nullable: true
        memberName:
          type: string
          title: member_name
          nullable: true
        memberPictureUrl:
          type: string
          title: member_picture_url
          nullable: true
      title: MemberPreview
      additionalProperties: false
    textql.rpc.public.dashboard.SqlQuerySource:
      type: object
      properties:
        query:
          type: string
          title: query
        connectorId:
          type: integer
          title: connector_id
          format: int32
        predicate:
          type: string
          title: predicate
          description: Optional viewer row-filter appended server-side at live-query time; binds :viewer_member_id / :viewer_email. Presence forces the source out of the published snapshot.
      title: SqlQuerySource
      additionalProperties: false
    textql.rpc.public.playbook.UnsetSlackChannelContextPlaybookResponse:
      type: object
      properties:
        success:
          type: boolean
          title: success
      title: UnsetSlackChannelContextPlaybookResponse
      additionalProperties: false
    textql.rpc.public.reports.HeroBlock:
      type: object
      properties:
        imageUrl:
          type: string
          title: image_url
        imageAlt:
          type: string
          title: image_alt
          nullable: true
      title: HeroBlock
      additionalProperties: false
    textql.rpc.public.playbook.PlaybookStatus:
      type: string
      title: PlaybookStatus
      enum:
      - STATUS_UNKNOWN
      - STATUS_ACTIVE
      - STATUS_INACTIVE
      - STATUS_EMPTY
      - ALL_PLAYBOOKS
    textql.rpc.public.playbook.CancelTemplateExecutionRequest:
      type: object
      properties:
        templateHeaderId:
          type: string
          title: template_header_id
        playbookId:
          type: string
          title: playbook_id
      title: CancelTemplateExecutionRequest
      additionalProperties: false
      description: Request to cancel template execution
    textql.rpc.public.tableau.TableauView:
      type: object
      properties:
        id:
          type: string
          title: id
        name:
          type: string
          title: name
        contentUrl:
          type: string
          title: content_url
        workbookId:
          type: string
          title: workbook_id
        workbookName:
          type: string
          title: workbook_name
        createdAt:
          title: created_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        updatedAt:
          title: updated_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        embedUrl:
          type: string
          title: embed_url
      title: TableauView
      additionalProperties: false
    textql.rpc.public.playbook.SubscribeToPlaybookResponse:
      type: object
      properties:
        success:
          type: boolean
          title: success
      title: SubscribeToPlaybookResponse
      additionalProperties: false
    textql.rpc.public.reports.CardBlock:
      type: object
      properties:
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.reports.ReportBlock'
          title: blocks
      title: CardBlock
      additionalProperties: false
    textql.rpc.public.playbook.GetPlaybookReportsBatchRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
          description: UUID
        templateDataIds:
          type: array
          items:
            type: string
          title: template_data_ids
          description: List of template data UUIDs to fetch reports for
        limitPerTemplate:
          type: integer
          title: limit_per_template
          format: int32
          description: 'Max reports to return per template_data_id (default: 100)'
        batchRunId:
          type: string
          title: batch_run_id
          description: UUID - filter reports and artifacts by batch run
          nullable: true
      title: GetPlaybookReportsBatchRequest
      additionalProperties: false
      description: Batch request to get reports for multiple template data IDs efficiently
    textql.rpc.public.dataset.DatasetType:
      type: string
      title: DatasetType
      enum:
      - TYPE_UNKNOWN
      - TYPE_TABULAR
      - TYPE_DATAFRAME
      - TYPE_DOCUMENT
      - TYPE_TABLEAU
      - TYPE_IMAGE
      - TYPE_TEXT
      - TYPE_POWERBI
      description: never change the names or numbers of existing dataset types!
    textql.rpc.public.playbook.MarkReportAsReadResponse:
      type: object
      properties:
        success:
          type: boolean
          title: success
        readAt:
          title: read_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
      title: MarkReportAsReadResponse
      additionalProperties: false
    textql.rpc.public.playbook.PlaybookSortField:
      type: string
      title: PlaybookSortField
      enum:
      - SORT_FIELD_UNKNOWN
      - SORT_FIELD_NAME
      - SORT_FIELD_CREATED_AT
      - SORT_FIELD_UPDATED_AT
      - SORT_FIELD_SCHEDULE
    textql.rpc.public.playbook.SetTeamsChannelContextPlaybookRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
        teamsChannelId:
          type: string
          title: teams_channel_id
      title: SetTeamsChannelContextPlaybookRequest
      additionalProperties: false
    textql.rpc.public.playbook.ChatAccessOverride:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
          nullable: true
        roleId:
          type: string
          title: role_id
          nullable: true
        accessType:
          type: string
          title: access_type
          description: '"owner", "editor", "viewer"'
      title: ChatAccessOverride
      additionalProperties: false
    textql.rpc.public.dashboard.DashboardCreator:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
        memberEmail:
          type: string
          title: member_email
          nullable: true
        memberName:
          type: string
          title: member_name
          nullable: true
      title: DashboardCreator
      additionalProperties: false
    textql.rpc.public.config_source.ConfigSyncStatus:
      type: string
      title: ConfigSyncStatus
      enum:
      - CONFIG_SYNC_STATUS_UNSPECIFIED
      - CONFIG_SYNC_STATUS_SYNCING
      - CONFIG_SYNC_STATUS_SYNCED
      - CONFIG_SYNC_STATUS_ERROR
    textql.rpc.public.dataset.SandboxDataFrame:
      type: object
      properties:
        info:
          title: info
          $ref: '#/components/schemas/textql.rpc.public.dataframe.DataFrameInfo'
      title: SandboxDataFrame
      additionalProperties: false
    textql.rpc.public.playbook.GetChatReportsSummaryRequest:
      type: object
      properties:
        chatId:
          type: string
          title: chat_id
      title: GetChatReportsSummaryRequest
      additionalProperties: false
    textql.rpc.public.playbook.GetPlaybooksRequest:
      type: object
      properties:
        memberOnly:
          type: boolean
          title: member_only
        limit:
          type: integer
          title: limit
          format: int32
        offset:
          type: integer
          title: offset
          format: int32
        searchTerm:
          type: string
          title: search_term
          nullable: true
        statusFilter:
          title: status_filter
          description: single-select; superseded by `statuses` when that is non-empty
          nullable: true
          $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookStatus'
        creatorMemberId:
          type: string
          title: creator_member_id
          description: single-select; superseded by `creator_member_ids` when that is non-empty
          nullable: true
        sortBy:
          title: sort_by
          $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookSortField'
        sortDirection:
          title: sort_direction
          $ref: '#/components/schemas/textql.rpc.public.common.SortDirection'
        subscribedFirst:
          type: boolean
          title: subscribed_first
          nullable: true
        onlySubscribed:
          type: boolean
          title: only_subscribed
          nullable: true
        sharedWithMe:
          type: boolean
          title: shared_with_me
          nullable: true
        includeSharedDrafts:
          type: boolean
          title: include_shared_drafts
          nullable: true
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookStatus'
          title: statuses
          description: Multi-select filters (union). Each supersedes its single-value counterpart when non-empty.
        creatorMemberIds:
          type: array
          items:
            type: string
          title: creator_member_ids
      title: GetPlaybooksRequest
      additionalProperties: false
    textql.rpc.public.playbook.ListPlaybookBatchRunsRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
          description: UUID
        limit:
          type: integer
          title: limit
          format: int32
          description: 'Max number of results (default: 50)'
          nullable: true
        offset:
          type: integer
          title: offset
          format: int32
          description: 'Offset for pagination (default: 0)'
          nullable: true
      title: ListPlaybookBatchRunsRequest
      additionalProperties: false
      description: Request to list batch runs for a playbook
    textql.rpc.public.playbook.ListPlaybookBatchRunsResponse:
      type: object
      properties:
        batchRuns:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookBatchRun'
          title: batch_runs
        totalCount:
          type: integer
          title: total_count
          format: int32
          description: Total number of batch runs for this playbook
      title: ListPlaybookBatchRunsResponse
      additionalProperties: false
      description: Response containing list of batch runs
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
      - 1
      description: Define the version of the Connect protocol
      const: 1
      default: 1
    textql.rpc.public.playbook.FilterConditionList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.playbook.FilterCondition'
          title: items
      title: FilterConditionList
      additionalProperties: false
    textql.rpc.public.playbook.ListTeamsChannelsForContextPlaybookRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
      title: ListTeamsChannelsForContextPlaybookRequest
      additionalProperties: false
    textql.rpc.public.playbook.GetPlaybookBatchRunResponse:
      type: object
      properties:
        batchRun:
          title: batch_run
          $ref: '#/components/schemas/textql.rpc.public.playbook.PlaybookBatchRun'
      title: GetPlaybookBatchRunResponse
      additionalProperties: false
      description: Response containing batch run details
    textql.rpc.public.playbook.DemoPlaybookRequest:
      type: object
      properties:
        chatId:
          type: string
          title: chat_id
        personName:
          type: string
          title: person_name
        jobTitle:
          type: string
          title: job_title
        targetEmail:
          type: string
          title: target_email
      title: DemoPlaybookRequest
      additionalProperties: false
    textql.rpc.public.playbook.ListSlackChannelsForContextPlaybookRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
          description: UUID
      title: ListSlackChannelsForContextPlaybookRequest
      additionalProperties: false
      description: Lists Slack channel IDs that have this playbook set as the context playbook.
    textql.rpc.public.playbook.PlaybookRemoveDashboardRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
        dashboardId:
          type: string
          title: dashboard_id
      title: PlaybookRemoveDashboardRequest
      additionalProperties: false
    textql.rpc.public.playbook.ListAllSlackChannelContextPlaybooksRequest:
      type: object
      title: ListAllSlackChannelContextPlaybooksRequest
      additionalProperties: false
      description: List all Slack channel context playbook mappings for organization
    textql.rpc.public.playbook.RunPlaybookRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
        dryRun:
          type: boolean
          title: dry_run
          description: If true, runs without sending notifications
        templateId:
          type: string
          title: template_id
          nullable: true
      title: RunPlaybookRequest
      additionalProperties: false
    textql.rpc.public.playbook.PlaybookAttachDatasetRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
        datasetId:
          type: string
          title: dataset_id
      title: PlaybookAttachDatasetRequest
      additionalProperties: false
    textql.rpc.public.reports.DividerBlock:
      type: object
      title: DividerBlock
      additionalProperties: false
    textql.rpc.public.playbook.UnsetSlackChannelContextPlaybookRequest:
      type: object
      properties:
        slackChannelId:
          type: string
          title: slack_channel_id
      title: UnsetSlackChannelContextPlaybookRequest
      additionalProperties: false
      description: Unsets the context playbook for a Slack channel by channel ID only.
    textql.rpc.public.playbook.ListAllSlackChannelContextPlaybooksResponse:
      type: object
      properties:
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.playbook.SlackChannelPlaybookMapping'
          title: mappings
      title: ListAllSlackChannelContextPlaybooksResponse
      additionalProperties: false
    textql.rpc.public.dashboard.DataSource:
      type: object
      allOf:
      - type: object
        properties:
          type:
            type: string
            title: type
            description: '"sql_query", "file", "python_code", "ontology_sql", or "library_tql"'
          name:
            type: string
            title: name
          parameters:
            type: array
            items:
              $ref: '#/components/schemas/textql.rpc.public.dashboard.QueryParameter'
            title: parameters
            description: Parameters for live parameterized queries (sql_query type only)
          grant:
            title: grant
            description: "Optional author allowlist gating this source to specific org roles / members.\n Presence forces the source out of the published snapshot (live-only, viewer-enforced)."
            $ref: '#/components/schemas/textql.rpc.public.dashboard.Grant'
      - oneOf:
        - type: object
          properties:
            file:
              title: file
              $ref: '#/components/schemas/textql.rpc.public.dashboard.FileSource'
          title: file
          required:
          - file
        - type: object
          properties:
            libraryTql:
              title: library_tql
              $ref: '#/components/schemas/textql.rpc.public.dashboard.LibraryTQLSource'
          title: library_tql
          required:
          - libraryTql
        - type: object
          properties:
            ontologySql:
              title: ontology_sql
              $ref: '#/components/schemas/textql.rpc.public.dashboard.OntologySqlSource'
          title: ontology_sql
          required:
          - ontologySql
        - type: object
          properties:
            pythonCode:
              title: python_code
              $ref: '#/components/schemas/textql.rpc.public.dashboard.PythonCodeSource'
          title: python_code
          required:
          - pythonCode
        - type: object
          properties:
            sqlQuery:
              title: sql_query
              $ref: '#/components/schemas/textql.rpc.public.dashboard.SqlQuerySource'
          title: sql_query
          required:
          - sqlQuery
      title: DataSource
      additionalProperties: false
      description: Unified data source for dashboards
    textql.rpc.public.playbook.GetPlaybookReportsResponse:
      type: object
      properties:
        reports:
          type: array
          items:
[...]
