openapi: 3.2.0
info:
  title: TextQL Observability Service API
  version: 1.0.0
  description: 'TextQL public API. Generated from protobuf service definitions; internal

    endpoints are excluded via google.api.visibility / file_visibility.'
servers:
- url: https://app.textql.com/rpc/public
security:
- apiKey: []
tags:
- name: ObservabilityService
paths:
  /textql.rpc.public.observe.ObservabilityService/ActivateCustomTopic:
    post:
      tags:
      - ObservabilityService
      summary: ActivateCustomTopic
      operationId: ObservabilityService_ActivateCustomTopic
      x-speakeasy-group: observability
      x-speakeasy-name-override: activateCustomTopic
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.TopicLifecycleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.TopicLifecycleResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.activateCustomTopic({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.activate_custom_topic()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/BackfillCustomTopic:
    post:
      tags:
      - ObservabilityService
      summary: BackfillCustomTopic
      operationId: ObservabilityService_BackfillCustomTopic
      x-speakeasy-group: observability
      x-speakeasy-name-override: backfillCustomTopic
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.BackfillCustomTopicRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.BackfillCustomTopicResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.backfillCustomTopic({\n    body: {\n      startDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n      endDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.backfill_custom_topic(start_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"), end_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"))\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/BackfillThreadWarnings:
    post:
      tags:
      - ObservabilityService
      summary: BackfillThreadWarnings
      operationId: ObservabilityService_BackfillThreadWarnings
      x-speakeasy-group: observability
      x-speakeasy-name-override: backfillThreadWarnings
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.BackfillThreadWarningsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.BackfillThreadWarningsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.backfillThreadWarnings({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.backfill_thread_warnings()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/CreateCustomTopic:
    post:
      tags:
      - ObservabilityService
      summary: Custom topics
      operationId: ObservabilityService_CreateCustomTopic
      x-speakeasy-group: observability
      x-speakeasy-name-override: createCustomTopic
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.CreateCustomTopicRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.CustomTopicResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.createCustomTopic({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.create_custom_topic()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/DeactivateCustomTopic:
    post:
      tags:
      - ObservabilityService
      summary: DeactivateCustomTopic
      operationId: ObservabilityService_DeactivateCustomTopic
      x-speakeasy-group: observability
      x-speakeasy-name-override: deactivateCustomTopic
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.TopicLifecycleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.TopicLifecycleResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.deactivateCustomTopic({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.deactivate_custom_topic()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/DeleteCustomTopic:
    post:
      tags:
      - ObservabilityService
      summary: DeleteCustomTopic
      operationId: ObservabilityService_DeleteCustomTopic
      x-speakeasy-group: observability
      x-speakeasy-name-override: deleteCustomTopic
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.TopicLifecycleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.TopicLifecycleResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.deleteCustomTopic({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.delete_custom_topic()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/ExportObservabilityCsv:
    post:
      tags:
      - ObservabilityService
      summary: ExportObservabilityCsv
      operationId: ObservabilityService_ExportObservabilityCsv
      x-speakeasy-group: observability
      x-speakeasy-name-override: exportCsv
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.ExportObservabilityCsvRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.ExportObservabilityCsvResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.exportCsv({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.export_csv()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/FixCheckRecord:
    post:
      tags:
      - ObservabilityService
      summary: FixCheckRecord
      operationId: ObservabilityService_FixCheckRecord
      x-speakeasy-group: observability
      x-speakeasy-name-override: fixCheckRecord
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.FixCheckRecordRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.FixCheckRecordResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.fixCheckRecord({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.fix_check_record()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/FixWarning:
    post:
      tags:
      - ObservabilityService
      summary: FixWarning
      operationId: ObservabilityService_FixWarning
      x-speakeasy-group: observability
      x-speakeasy-name-override: fixWarning
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.FixWarningRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.FixWarningResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.fixWarning({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.fix_warning()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetAccessMethodStats:
    post:
      tags:
      - ObservabilityService
      summary: GetAccessMethodStats
      operationId: ObservabilityService_GetAccessMethodStats
      x-speakeasy-group: observability
      x-speakeasy-name-override: getAccessMethodStats
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetAccessMethodStatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetAccessMethodStatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getAccessMethodStats({\n    body: {\n      startDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n      endDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_access_method_stats(start_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"), end_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"))\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetActivePeopleStats:
    post:
      tags:
      - ObservabilityService
      summary: GetActivePeopleStats
      operationId: ObservabilityService_GetActivePeopleStats
      x-speakeasy-group: observability
      x-speakeasy-name-override: getActivePeopleStats
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetActivePeopleStatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetActivePeopleStatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getActivePeopleStats({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_active_people_stats()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetActivePeopleTrend:
    post:
      tags:
      - ObservabilityService
      summary: GetActivePeopleTrend
      operationId: ObservabilityService_GetActivePeopleTrend
      x-speakeasy-group: observability
      x-speakeasy-name-override: getActivePeopleTrend
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetActivePeopleTrendRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetActivePeopleTrendResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getActivePeopleTrend({\n    body: {\n      startDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n      endDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_active_people_trend(start_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"), end_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"))\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetBackfillPreview:
    post:
      tags:
      - ObservabilityService
      summary: GetBackfillPreview
      operationId: ObservabilityService_GetBackfillPreview
      x-speakeasy-group: observability
      x-speakeasy-name-override: getBackfillPreview
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetBackfillPreviewRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetBackfillPreviewResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getBackfillPreview({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_backfill_preview()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetBackfillStatus:
    post:
      tags:
      - ObservabilityService
      summary: GetBackfillStatus
      operationId: ObservabilityService_GetBackfillStatus
      x-speakeasy-group: observability
      x-speakeasy-name-override: getBackfillStatus
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetBackfillStatusRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetBackfillStatusResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getBackfillStatus({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_backfill_status()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetBillingStats:
    post:
      tags:
      - ObservabilityService
      summary: GetBillingStats
      operationId: ObservabilityService_GetBillingStats
      x-speakeasy-group: observability
      x-speakeasy-name-override: getBillingStats
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetBillingStatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetBillingStatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getBillingStats({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_billing_stats()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetChatSourceStats:
    post:
      tags:
      - ObservabilityService
      summary: GetChatSourceStats
      operationId: ObservabilityService_GetChatSourceStats
      x-speakeasy-group: observability
      x-speakeasy-name-override: getChatSourceStats
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetChatSourceStatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetChatSourceStatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getChatSourceStats({\n    body: {\n      startDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n      endDate: new Date(\"2023-01-15T01:30:15.01Z\"),\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_chat_source_stats(start_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"), end_date=parse_datetime(\"2023-01-15T01:30:15.01Z\"))\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetChatTopics:
    post:
      tags:
      - ObservabilityService
      summary: GetChatTopics
      operationId: ObservabilityService_GetChatTopics
      x-speakeasy-group: observability
      x-speakeasy-name-override: getChatTopics
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetChatTopicsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetChatTopicsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getChatTopics({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_chat_topics()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetCheckRecordFix:
    post:
      tags:
      - ObservabilityService
      summary: GetCheckRecordFix
      operationId: ObservabilityService_GetCheckRecordFix
      x-speakeasy-group: observability
      x-speakeasy-name-override: getCheckRecordFix
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetCheckRecordFixRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetCheckRecordFixResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getCheckRecordFix({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_check_record_fix()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetCustomTopic:
    post:
      tags:
      - ObservabilityService
      summary: GetCustomTopic
      operationId: ObservabilityService_GetCustomTopic
      x-speakeasy-group: observability
      x-speakeasy-name-override: getCustomTopic
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetCustomTopicRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.CustomTopicResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getCustomTopic({\n    body: {\n      trendStart: new Date(\"2023-01-15T01:30:15.01Z\"),\n      trendEnd: new Date(\"2023-01-15T01:30:15.01Z\"),\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_custom_topic(trend_start=parse_datetime(\"2023-01-15T01:30:15.01Z\"), trend_end=parse_datetime(\"2023-01-15T01:30:15.01Z\"))\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetCustomTopicPeople:
    post:
      tags:
      - ObservabilityService
      summary: GetCustomTopicPeople
      operationId: ObservabilityService_GetCustomTopicPeople
      x-speakeasy-group: observability
      x-speakeasy-name-override: getCustomTopicPeople
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetCustomTopicPeopleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetCustomTopicPeopleResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getCustomTopicPeople({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_custom_topic_people()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetCustomTopicThreads:
    post:
      tags:
      - ObservabilityService
      summary: GetCustomTopicThreads
      operationId: ObservabilityService_GetCustomTopicThreads
      x-speakeasy-group: observability
      x-speakeasy-name-override: getCustomTopicThreads
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetCustomTopicThreadsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetCustomTopicThreadsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getCustomTopicThreads({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_custom_topic_threads()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetEngagementSpectrum:
    post:
      tags:
      - ObservabilityService
      summary: GetEngagementSpectrum
      operationId: ObservabilityService_GetEngagementSpectrum
      x-speakeasy-group: observability
      x-speakeasy-name-override: getEngagementSpectrum
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetEngagementSpectrumRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetEngagementSpectrumResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getEngagementSpectrum({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_engagement_spectrum()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetMemberActivity:
    post:
      tags:
      - ObservabilityService
      summary: GetMemberActivity
      operationId: ObservabilityService_GetMemberActivity
      x-speakeasy-group: observability
      x-speakeasy-name-override: getMemberActivity
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetMemberActivityRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetMemberActivityResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getMemberActivity({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_member_activity()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetMemberSignalTrend:
    post:
      tags:
      - ObservabilityService
      summary: GetMemberSignalTrend
      operationId: ObservabilityService_GetMemberSignalTrend
      x-speakeasy-group: observability
      x-speakeasy-name-override: getMemberSignalTrend
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetMemberSignalTrendRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetMemberSignalTrendResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getMemberSignalTrend({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_member_signal_trend()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetObservabilityStats:
    post:
      tags:
      - ObservabilityService
      summary: GetObservabilityStats
      operationId: ObservabilityService_GetObservabilityStats
      x-speakeasy-group: observability
      x-speakeasy-name-override: getObservabilityStats
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetObservabilityStatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetObservabilityStatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getObservabilityStats({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_observability_stats()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/GetThreadWarnings:
    post:
      tags:
      - ObservabilityService
      summary: GetThreadWarnings
      operationId: ObservabilityService_GetThreadWarnings
      x-speakeasy-group: observability
      x-speakeasy-name-override: getThreadWarnings
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.GetThreadWarningsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.GetThreadWarningsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.getThreadWarnings({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.get_thread_warnings()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/ListCustomTopics:
    post:
      tags:
      - ObservabilityService
      summary: ListCustomTopics
      operationId: ObservabilityService_ListCustomTopics
      x-speakeasy-group: observability
      x-speakeasy-name-override: listCustomTopics
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.ListCustomTopicsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.ListCustomTopicsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.listCustomTopics({\n    body: {\n      trendStart: new Date(\"2023-01-15T01:30:15.01Z\"),\n      trendEnd: new Date(\"2023-01-15T01:30:15.01Z\"),\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.list_custom_topics(trend_start=parse_datetime(\"2023-01-15T01:30:15.01Z\"), trend_end=parse_datetime(\"2023-01-15T01:30:15.01Z\"))\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/RefineTopicDraft:
    post:
      tags:
      - ObservabilityService
      summary: RefineTopicDraft
      operationId: ObservabilityService_RefineTopicDraft
      x-speakeasy-group: observability
      x-speakeasy-name-override: refineDraft
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.RefineTopicDraftRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.RefineTopicDraftResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.refineDraft({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.refine_draft()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/SetTopicTagFeedback:
    post:
      tags:
      - ObservabilityService
      summary: SetTopicTagFeedback
      operationId: ObservabilityService_SetTopicTagFeedback
      x-speakeasy-group: observability
      x-speakeasy-name-override: setTopicTagFeedback
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.SetTopicTagFeedbackRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.SetTopicTagFeedbackResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.setTopicTagFeedback({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.set_topic_tag_feedback()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.observe.ObservabilityService/UpdateCustomTopic:
    post:
      tags:
      - ObservabilityService
      summary: UpdateCustomTopic
      operationId: ObservabilityService_UpdateCustomTopic
      x-speakeasy-group: observability
      x-speakeasy-name-override: updateCustomTopic
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.observe.UpdateCustomTopicRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.observe.CustomTopicResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.observability.updateCustomTopic({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.observability.update_custom_topic()\n\n    # Handle response\n    print(res)"
components:
  schemas:
    textql.rpc.public.dashboard.Grant:
      type: object
      properties:
        roles:
          type: array
          items:
            type: string
          title: roles
          description: org role names
        members:
          type: array
          items:
            type: string
          title: members
          description: explicit member ids
      title: Grant
      additionalProperties: false
      description: "Grant is an author allowlist gating a data source or compute function. A viewer whose\n effective role names intersect roles, or whose member id is listed in members, may call it.\n Absent grant = org-visible (today's behavior); an empty grant object is invalid."
    textql.rpc.public.observe.RefineTopicDraftResponse:
      type: object
      properties:
        name:
          type: string
          title: name
        covers:
          type: string
          title: covers
          description: example questions users ask
        excludes:
          type: string
          title: excludes
          description: '"should NOT be tagged" phrases'
        vague:
          type: boolean
          title: vague
        qualityHint:
          type: string
          title: quality_hint
        similarTopics:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.observe.SimilarTopic'
          title: similar_topics
      title: RefineTopicDraftResponse
      additionalProperties: false
    textql.rpc.public.observe.ChatTopicRef:
      type: object
      properties:
        topicId:
          type: string
          title: topic_id
        name:
          type: string
          title: name
      title: ChatTopicRef
      additionalProperties: false
    textql.rpc.public.reports.ReportBlock:
      type: object
      oneOf:
      - type: object
        properties:
          card:
            title: card
            $ref: '#/components/schemas/textql.rpc.public.reports.CardBlock'
        title: card
        required:
        - card
      - type: object
        properties:
          divider:
            title: divider
            $ref: '#/components/schemas/textql.rpc.public.reports.DividerBlock'
        title: divider
        required:
        - divider
      - type: object
        properties:
          hero:
            title: hero
            $ref: '#/components/schemas/textql.rpc.public.reports.HeroBlock'
        title: hero
        required:
        - hero
      - type: object
        properties:
          image:
            title: image
            $ref: '#/components/schemas/textql.rpc.public.reports.ImageBlock'
        title: image
        required:
        - image
      - type: object
        properties:
          imageText:
            title: image_text
            $ref: '#/components/schemas/textql.rpc.public.reports.ImageTextBlock'
        title: image_text
        required:
        - imageText
      - type: object
        properties:
          list:
            title: list
            $ref: '#/components/schemas/textql.rpc.public.reports.ListBlock'
        title: list
        required:
        - list
      - type: object
        properties:
          spacer:
            title: spacer
            $ref: '#/components/schemas/textql.rpc.public.reports.SpacerBlock'
        title: spacer
        required:
        - spacer
      - type: object
        properties:
          text:
            title: text
            $ref: '#/components/schemas/textql.rpc.public.reports.TextBlock'
        title: text
        required:
        - text
      title: ReportBlock
      additionalProperties: false
    textql.rpc.public.ontology.AttributeRef:
      type: object
      properties:
        attributeRef:
          type: string
          title: attribute_ref
      title: AttributeRef
      additionalProperties: false
    textql.rpc.public.ontology.IntermediateJoin:
      type: object
      properties:
        tableName:
          type: string
          title: table_name
        leftColumn:
          type: string
          title: left_column
        rightColumn:
          type: string
          title: right_column
      title: IntermediateJoin
      additionalProperties: false
    textql.rpc.public.cells.FormEditorCell:
      type: object
      properties:
        action:
          title: action
          $ref: '#/components/schemas/textql.rpc.public.cells.FormEditorAction'
        formSnapshot:
          title: form_snapshot
          nullable: true
          $ref: '#/components/schemas/textql.rpc.public.cells.EditableForm'
        form:
          title: form
          nullable: true
          $ref: '#/components/schemas/textql.rpc.public.cells.EditableForm'
        formId:
          type: string
          title: form_id
          nullable: true
      title: FormEditorCell
      additionalProperties: false
    textql.rpc.public.observe.GetCustomTopicThreadsResponse:
      type: object
      properties:
        threads:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.observe.CustomTopicThread'
          title: threads
          description: Keyed by chat id; chats with no tagged topics are absent.
        nextPageToken:
          type: string
          title: next_page_token
      title: GetCustomTopicThreadsResponse
      additionalProperties: false
    textql.rpc.public.observe.PlaybookBillingStat:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
        playbookName:
          type: string
          title: playbook_name
        ownerId:
          type: string
          title: owner_id
        ownerName:
          type: string
          title: owner_name
        totalAcu:
          type: number
          title: total_acu
          format: double
          description: llm_tokens, compute_hours, cell_execution
        llmAcu:
          type: number
          title: llm_acu
          format: double
          description: chat, feed, observability
        computeAcu:
          type: number
          title: compute_acu
          format: double
        runCount:
          type: integer
          title: run_count
          format: int32
        dailyRunCounts:
          type: array
          items:
            type: integer
            format: int32
          title: daily_run_counts
        isActive:
          type: boolean
          title: is_active
      title: PlaybookBillingStat
      additionalProperties: false
    textql.rpc.public.cells.ContextPromptEditorAction:
      type: string
      title: ContextPromptEditorAction
      enum:
      - ACTION_UNKNOWN
      - ACTION_GET
      - ACTION_PROPOSE
      - ACTION_CREATE
    textql.rpc.public.cells.AnswerCell:
      type: object
      properties:
        content:
          type: string
          title: content
        images:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ImageReference'
          title: images
        sql:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.SQLReference'
          title: sql
      title: AnswerCell
      additionalProperties: false
    textql.rpc.public.cells.FileReference:
      type: object
      properties:
        name:
          type: string
          title: name
        url:
          type: string
          title: url
        fileType:
          type: string
          title: file_type
      title: FileReference
      additionalProperties: false
    textql.rpc.public.cells.MCPToolCell:
      type: object
      properties:
        serverName:
          type: string
          title: server_name
        toolName:
          type: string
          title: tool_name
        argumentsJson:
          type: string
          title: arguments_json
        contentJson:
          type: string
          title: content_json
          nullable: true
        isError:
          type: boolean
          title: is_error
          nullable: true
        errorMessage:
          type: string
          title: error_message
          nullable: true
        executionTimeMs:
          type:
          - integer
          - string
          title: execution_time_ms
          format: int64
          nullable: true
        authRequired:
          type: boolean
          title: auth_required
          nullable: true
        authCompleted:
          type: boolean
          title: auth_completed
          nullable: true
        authServerId:
          type: string
          title: auth_server_id
          nullable: true
        authServerName:
          type: string
          title: auth_server_name
          nullable: true
      title: MCPToolCell
      additionalProperties: false
    textql.rpc.public.cells.OntologyObjectDimensionLite:
      type: object
      properties:
        dimensionId:
          type: string
          title: dimension_id
        dimensionName:
          type: string
          title: dimension_name
        dimensionDescription:
          type: string
          title: dimension_description
        dimensionType:
          type: string
          title: dimension_type
      title: OntologyObjectDimensionLite
      additionalProperties: false
    textql.rpc.public.observe.ExportObservabilityCsvRequest:
      type: object
      properties:
        tab:
          type: string
          title: tab
        days:
          type: integer
          title: days
          format: int32
      title: ExportObservabilityCsvRequest
      additionalProperties: false
      description: "MemberActivity is one member's activity over the window: a daily event-count\n series (oldest→newest, zero-filled) plus rollups for the users table."
    textql.rpc.public.cells.TeamsUserRef:
      type: object
      properties:
        userAadId:
          type: string
          title: user_aad_id
        name:
          type: string
          title: name
      title: TeamsUserRef
      additionalProperties: false
    textql.rpc.public.cells.PlaybookEditorAction:
      type: string
      title: PlaybookEditorAction
      enum:
      - PLAYBOOK_ACTION_UNKNOWN
      - PLAYBOOK_ACTION_LIST
      - PLAYBOOK_ACTION_GET
      - PLAYBOOK_ACTION_CREATE
      - PLAYBOOK_ACTION_UPDATE
      - PLAYBOOK_ACTION_RUN
    textql.rpc.public.observe.GetMemberSignalTrendResponse:
      type: object
      properties:
        points:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.observe.MemberSignalTrendPoint'
          title: points
      title: GetMemberSignalTrendResponse
      additionalProperties: false
    textql.rpc.public.ontology.OntologyMetric:
      type: object
      properties:
        id:
          type: string
          title: id
        name:
          type: string
          title: name
        description:
          type: string
          title: description
        objectId:
          type: string
          title: object_id
        attribute:
          title: attribute
          $ref: '#/components/schemas/textql.rpc.public.ontology.AttributeRef'
        formula:
          type: string
          title: formula
        timeDimension:
          title: time_dimension
          $ref: '#/components/schemas/textql.rpc.public.ontology.AttributeRef'
        breakdowns:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.ontology.AttributeRef'
          title: breakdowns
        aggregation:
          title: aggregation
          $ref: '#/components/schemas/textql.rpc.public.ontology.MetricAggregation'
        lod:
          type: array
          items:
            type: string
          title: lod
        accessTime:
          title: access_time
          $ref: '#/components/schemas/google.protobuf.Timestamp'
      title: OntologyMetric
      additionalProperties: false
    textql.rpc.public.cells.TeamsChannelRef:
      type: object
      properties:
        channelId:
          type: string
          title: channel_id
        name:
          type: string
          title: name
      title: TeamsChannelRef
      additionalProperties: false
    textql.rpc.public.cells.GmailEmailSearchCell:
      type: object
      properties:
        emailCount:
          type: integer
          title: email_count
          format: int32
        emailSummary:
          type: string
          title: email_summary
          nullable: true
        syntheticToolUseId:
          type: string
          title: synthetic_tool_use_id
          nullable: true
      title: GmailEmailSearchCell
      additionalProperties: false
    textql.rpc.public.dataframe.DataFrame:
      type: object
      properties:
        schema:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.dataframe.DataFrameField'
          title: schema
        records:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.dataframe.DataFrameRecord'
          title: records
      title: DataFrame
      additionalProperties: false
    textql.rpc.public.cells.QuestionsStatus:
      type: string
      title: QuestionsStatus
      enum:
      - QUESTIONS_STATUS_UNKNOWN
      - QUESTIONS_STATUS_PENDING
      - QUESTIONS_STATUS_ANSWERED
      - QUESTIONS_STATUS_DISMISSED
    textql.rpc.public.dashboard.PythonCodeSource:
      type: object
      properties:
        code:
          type: string
          title: code
      title: PythonCodeSource
      additionalProperties: false
    textql.rpc.public.observe.FixCheckRecordRequest:
      type: object
      properties:
        recordId:
          type: string
          title: record_id
      title: FixCheckRecordRequest
      additionalProperties: false
    textql.rpc.public.cells.FeedAgentAction:
      type: string
      title: FeedAgentAction
      enum:
      - FEED_AGENT_ACTION_UNKNOWN
      - FEED_AGENT_ACTION_CREATE
      - FEED_AGENT_ACTION_UPDATE
    textql.rpc.public.cells.OntologySearchMetricsCell:
      type: object
      properties:
        query:
          type: string
          title: query
        ontologyId:
          type: integer
          title: ontology_id
          format: int32
        matchCount:
          type: integer
          title: match_count
          format: int32
        returnedCount:
          type: integer
          title: returned_count
          format: int32
        truncated:
          type: boolean
          title: truncated
        matches:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.OntologyMetricSearchMatch'
          title: matches
      title: OntologySearchMetricsCell
      additionalProperties: false
    textql.rpc.public.cells.ImageCell:
      type: object
      properties:
        name:
          type: string
          title: name
        url:
          type: string
          title: url
        mimeType:
          type: string
          title: mime_type
        width:
          type: integer
          title: width
          format: int32
        height:
          type: integer
          title: height
          format: int32
        sizeBytes:
          type:
          - integer
          - string
          title: size_bytes
          format: int64
        datasetSourceId:
          type: string
          title: dataset_source_id
        altText:
          type: string
          title: alt_text
        caption:
          type: string
          title: caption
      title: ImageCell
      additionalProperties: false
    textql.rpc.public.cells.PlaybookReportStyleLight:
      type: string
      title: PlaybookReportStyleLight
      enum:
      - REPORT_STYLE_LIGHT_UNKNOWN
      - REPORT_STYLE_LIGHT_EXECUTIVE
      - REPORT_STYLE_LIGHT_VERBOSE
      - REPORT_STYLE_LIGHT_CONCISE
      description: "Playbook report output style - matches parseReportStyle in playbook_helpers.go\n REPORT_STYLE_EXECUTIVE = \"Executive_Report\" or \"Executive\"\n REPORT_STYLE_VERBOSE = \"Verbose\" or \"Thorough\"\n REPORT_STYLE_CONCISE = \"Concise\" or \"Brief\""
    textql.rpc.public.cells.EmailRecipient:
      type: object
      properties:
        address:
          type: string
          title: address
        class:
          type: string
          title: class
          description: '"internal" or "external"'
        memberId:
          type: string
          title: member_id
          description: populated when class == "internal"
          nullable: true
        displayName:
          type: string
          title: display_name
          nullable: true
      title: EmailRecipient
      additionalProperties: false
      description: "EmailRecipient is one resolved recipient of an EmailCell. The frontend\n renders these as chips; the backend uses the resolution to enforce the\n internal-only policy at cell creation time."
    textql.rpc.public.cells.ReportHistoryCell:
      type: object
      properties:
        reports:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ReportHistoryInfo'
          title: reports
        totalCount:
          type: integer
          title: total_count
          format: int32
        errorMessage:
          type: string
          title: error_message
          nullable: true
      title: ReportHistoryCell
      additionalProperties: false
    textql.rpc.identity.MemberPreview:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
        memberEmail:
          type: string
          title: member_email
          description: "the fields are optionally populated, depending on the context\n may require RPC fields such as `include_owner` to be set to true"
          nullable: true
        memberName:
          type: string
          title: member_name
          nullable: true
        memberPictureUrl:
          type: string
          title: member_picture_url
          nullable: true
      title: MemberPreview
      additionalProperties: false
    textql.rpc.public.dataframe.ByteValues:
      type: object
      properties:
        values:
          type: array
          items:
            type: string
            format: byte
          title: values
      title: ByteValues
      additionalProperties: false
    textql.rpc.public.dashboard.SqlQuerySource:
      type: object
      properties:
        query:
          type: string
          title: query
        connectorId:
          type: integer
          title: connector_id
          format: int32
        predicate:
          type: string
          title: predicate
          description: Optional viewer row-filter appended server-side at live-query time; binds :viewer_member_id / :viewer_email. Presence forces the source out of the published snapshot.
      title: SqlQuerySource
      additionalProperties: false
    textql.rpc.public.cells.ListDashboardsCell:
      type: object
      properties:
        searchTerm:
          type: string
          title: search_term
        dashboardId:
          type: string
          title: dashboard_id
          description: Set for single-dashboard lookup
        totalCount:
          type: integer
          title: total_count
          format: int32
        sandboxAvailable:
          type: boolean
          title: sandbox_available
        errorMessage:
          type: string
          title: error_message
          nullable: true
        dashboards:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.DashboardInfo'
          title: dashboards
      title: ListDashboardsCell
      additionalProperties: false
    textql.rpc.public.observe.GetMemberActivityRequest:
      type: object
      properties:
        days:
          type: integer
          title: days
          format: int32
      title: GetMemberActivityRequest
      additionalProperties: false
    textql.rpc.public.observe.GetBackfillStatusRequest:
      type: object
      properties:
        orgId:
          type: string
          title: org_id
          nullable: true
      title: GetBackfillStatusRequest
      additionalProperties: false
    textql.rpc.public.cells.ConnectorRef:
      type: object
      properties:
        id:
          type: integer
          title: id
          format: int32
        name:
          type: string
          title: name
        type:
          type: string
          title: type
      title: ConnectorRef
      additionalProperties: false
      description: Reference types for context data
    textql.rpc.public.reports.HeroBlock:
      type: object
      properties:
        imageUrl:
          type: string
          title: image_url
        imageAlt:
          type: string
          title: image_alt
          nullable: true
      title: HeroBlock
      additionalProperties: false
    textql.rpc.public.observe.MemberChatSourceStat:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
        memberName:
          type: string
          title: member_name
        email:
          type: string
          title: email
        total:
          type: integer
          title: total
          format: int32
        bySource:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.observe.ChatSourceCount'
          title: by_source
      title: MemberChatSourceStat
      additionalProperties: false
    textql.rpc.public.cells.ContextPromptChangeStatus:
      type: string
      title: ContextPromptChangeStatus
      enum:
      - STATUS_UNKNOWN
      - STATUS_DRAFT
      - STATUS_PENDING
      - STATUS_REJECTED
      - STATUS_APPLIED
    textql.rpc.public.observe.SetTopicTagFeedbackRequest:
      type: object
      properties:
        topicId:
          type: string
          title: topic_id
        chatId:
          type: string
          title: chat_id
        excluded:
          type: boolean
          title: excluded
        reason:
          type: string
          title: reason
      title: SetTopicTagFeedbackRequest
      additionalProperties: false
    textql.rpc.public.cells.WebSearchCell:
      type: object
      properties:
        query:
          type: string
          title: query
        searchType:
          title: search_type
          $ref: '#/components/schemas/textql.rpc.public.cells.WebSearchType'
        dateRange:
          title: date_range
          $ref: '#/components/schemas/textql.rpc.public.cells.DateRange'
        answer:
          type: string
          title: answer
          nullable: true
        exaResults:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ExaSearchResult'
          title: exa_results
        costDollars:
          type: number
          title: cost_dollars
          format: double
          nullable: true
        executionTimeMs:
          type:
          - integer
          - string
          title: execution_time_ms
          format: int64
          nullable: true
      title: WebSearchCell
      additionalProperties: false
    textql.rpc.public.tableau.TableauView:
      type: object
      properties:
        id:
          type: string
          title: id
        name:
          type: string
          title: name
        contentUrl:
          type: string
          title: content_url
        workbookId:
          type: string
          title: workbook_id
        workbookName:
          type: string
          title: workbook_name
        createdAt:
          title: created_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        updatedAt:
          title: updated_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        embedUrl:
          type: string
          title: embed_url
      title: TableauView
      additionalProperties: false
    textql.rpc.public.cells.AppInfo:
      type: object
      properties:
        id:
          type: string
          title: id
        name:
          type: string
          title: name
        description:
          type: string
          title: description
          nullable: true
        status:
          type: string
          title: status
          description: '"draft" or "published" (derived from published_at)'
        creatorId:
          type: string
          title: creator_id
        createdAt:
          title: created_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        updatedAt:
          title: updated_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        refreshedAt:
          title: refreshed_at
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        publishedAt:
          title: published_at
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
      title: AppInfo
      additionalProperties: false
    textql.rpc.public.reports.CardBlock:
      type: object
      properties:
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.reports.ReportBlock'
          title: blocks
      title: CardBlock
      additionalProperties: false
    textql.rpc.public.cells.EditableForm:
      type: object
      properties:
        formName:
          type: string
          title: form_name
        fields:
          title: fields
          $ref: '#/components/schemas/google.protobuf.Struct'
        status:
          title: status
          $ref: '#/components/schemas/textql.rpc.public.cells.EditableFormStatus'
        id:
          type: string
          title: id
        submitError:
          type: string
          title: submit_error
          nullable: true
        submitResult:
          type: string
          title: submit_result
          nullable: true
        validationError:
          type: string
          title: validation_error
          nullable: true
      title: EditableForm
      additionalProperties: false
    textql.rpc.public.cells.TextCell:
      type: object
      properties:
        fileName:
          type: string
          title: file_name
        content:
          type: string
          title: content
        mimeType:
          type: string
          title: mime_type
        sizeBytes:
          type:
          - integer
          - string
          title: size_bytes
          format: int64
        datasetSourceId:
          type: string
          title: dataset_source_id
        lineCount:
          type: integer
          title: line_count
          format: int32
      title: TextCell
      additionalProperties: false
    textql.rpc.public.cells.StatusCell:
      type: object
      properties:
        status:
          type: string
          title: status
      title: StatusCell
      additionalProperties: false
      description: 'Deprecated: use tool_summary on Cell instead.'
    textql.rpc.public.observe.AppBillingStat:
      type: object
      properties:
        appId:
          type: string
          title: app_id
        appName:
          type: string
          title: app_name
        ownerId:
          type: string
          title: owner_id
        ownerName:
          type: string
          title: owner_name
        computeAcu:
          type: number
          title: compute_acu
          format: double
        refreshCount:
          type: integer
          title: refresh_count
          format: int32
        viewCount:
          type: integer
          title: view_count
          format: int32
        lastViewedAt:
          title: last_viewed_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        dailyViewCounts:
          type: array
          items:
            type: integer
            format: int32
          title: daily_view_counts
        isPublished:
          type: boolean
          title: is_published
        llmAcu:
          type: number
          title: llm_acu
          format: double
        totalAcu:
          type: number
          title: total_acu
          format: double
      title: AppBillingStat
      additionalProperties: false
    textql.rpc.public.ontology.MetricAggregation:
      type: string
      title: MetricAggregation
      enum:
      - METRIC_AGGREGATION_SUM
      - METRIC_AGGREGATION_COUNT
      - METRIC_AGGREGATION_AVG
      - METRIC_AGGREGATION_MIN
      - METRIC_AGGREGATION_MAX
      - METRIC_AGGREGATION_COUNT_DISTINCT
      - METRIC_AGGREGATION_MEDIAN
      - METRIC_AGGREGATION_ARRAY_AGG
    textql.rpc.public.observe.CustomTopicPerson:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
        name:
          type: string
          title: name
          description: '''tagged'' (default) | ''excluded_manual'''
        email:
          type: string
          title: email
        threadCount:
          type:
          - integer
          - string
          title: thread_count
          format: int64
      title: CustomTopicPerson
      additionalProperties: false
    textql.rpc.public.observe.GetCheckRecordFixResponse:
      type: object
      properties:
        fixChatId:
          type: string
          title: fix_chat_id
          nullable: true
        fixPatchCell:
          title: fix_patch_cell
          nullable: true
          $ref: '#/components/schemas/textql.rpc.public.chat.Cell'
        fixRunActive:
          type: boolean
          title: fix_run_active
        fixStatus:
          type: string
          title: fix_status
          nullable: true
      title: GetCheckRecordFixResponse
      additionalProperties: false
    textql.rpc.public.cells.TableauSQLCell:
      type: object
      properties:
        tableauDatasourceLuid:
          type: string
          title: tableau_datasource_luid
        query:
          type: string
          title: query
        dataframe:
          title: dataframe
          $ref: '#/components/schemas/textql.rpc.public.dataframe.DataFrameWithInfo'
        dataframePreview:
          type: string
          title: dataframe_preview
      title: TableauSQLCell
      additionalProperties: false
    textql.rpc.public.ontology.ObjectRef:
      type: object
      properties:
        objectRef:
          type: string
          title: object_ref
      title: ObjectRef
      additionalProperties: false
    textql.rpc.public.cells.OntologyQueryParam:
      type: object
      properties:
        name:
          type: string
          title: name
        type:
          type: string
          title: type
        nullable:
          type: boolean
          title: nullable
        description:
          type: string
          title: description
          nullable: true
        defaultValue:
          type: string
          title: default_value
          nullable: true
      title: OntologyQueryParam
      additionalProperties: false
    textql.rpc.public.observe.TopicLifecycleRequest:
      type: object
      properties:
        topicId:
          type: string
          title: topic_id
      title: TopicLifecycleRequest
      additionalProperties: false
    textql.rpc.public.dataset.DatasetType:
      type: string
      title: DatasetType
      enum:
      - TYPE_UNKNOWN
      - TYPE_TABULAR
      - TYPE_DATAFRAME
      - TYPE_DOCUMENT
      - TYPE_TABLEAU
      - TYPE_IMAGE
      - TYPE_TEXT
      - TYPE_POWERBI
      description: never change the names or numbers of existing dataset types!
    textql.rpc.public.chat.WarningCategory:
      type: string
      title: WarningCategory
      enum:
      - WARNING_CATEGORY_UNSPECIFIED
      - WARNING_CATEGORY_CAUSE
      - WARNING_CATEGORY_SYMPTOM
      - WARNING_CATEGORY_OUTCOME
      - WARNING_CATEGORY_STRENGTH
    textql.rpc.public.observe.GetThreadWarningsRequest:
      type: object
      properties:
        chatIds:
          type: array
          items:
            type: string
          title: chat_ids
      title: GetThreadWarningsRequest
      additionalProperties: false
    textql.rpc.public.observe.GetBackfillStatusResponse:
      type: object
      properties:
        running:
          type: boolean
          title: running
        total:
          type: integer
          title: total
          format: int32
        processed:
          type: integer
          title: processed
          format: int32
        failed:
          type: integer
          title: failed
          format: int32
      title: GetBackfillStatusResponse
      additionalProperties: false
    textql.rpc.public.chat.CellLifecycle:
      type: string
      title: CellLifecycle
      enum:
      - LIFECYCLE_UNKNOWN
      - LIFECYCLE_CREATING
      - LIFECYCLE_CREATED
      - LIFECYCLE_EXECUTING
      - LIFECYCLE_EXECUTED
      - LIFECYCLE_HALTED
      - LIFECYCLE_HANDOFF_PENDING
    textql.rpc.public.observe.TopicLifecycleResponse:
      type: object
      title: TopicLifecycleResponse
      additionalProperties: false
    textql.rpc.public.cells.TableauMessageBlock:
      type: object
      properties:
        content:
          type: string
          title: content
        imageBase64:
          type: string
          title: image_base64
          description: optional, only present for blocks with images
        pdfBase64:
          type: string
          title: pdf_base64
          description: optional, only present for blocks with PDFs
      title: TableauMessageBlock
      additionalProperties: false
    textql.rpc.public.observe.FixWarningResponse:
      type: object
      properties:
        chatId:
          type: string
          title: chat_id
      title: FixWarningResponse
      additionalProperties: false
    textql.rpc.public.observe.GetCustomTopicRequest:
      type: object
      properties:
        topicId:
          type: string
          title: topic_id
        trendStart:
          title: trend_start
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        trendEnd:
          title: trend_end
          $ref: '#/components/schemas/google.protobuf.Timestamp'
      title: GetCustomTopicRequest
      additionalProperties: false
    textql.rpc.public.cells.PowerBIMessageBlock:
      type: object
      properties:
        content:
          type: string
          title: content
        imageBase64:
          type: string
          title: image_base64
      title: PowerBIMessageBlock
      additionalProperties: false
    textql.rpc.public.cells.SubagentCell:
      type: object
      properties:
        objective:
          type: string
          title: objective
        subagentName:
          type: string
          title: subagent_name
        agentId:
          type: string
          title: agent_id
          nullable: true
        detached:
          type: boolean
          title: detached
        childChatId:
          type: string
          title: child_chat_id
        status:
          title: status
          $ref: '#/components/schemas/textql.rpc.public.cells.SubagentRunStatus'
        finalMessage:
          type: string
          title: final_message
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.FileReference'
          title: artifacts
        depth:
          type: integer
          title: depth
          format: int32
        errorMessage:
          type: string
          title: error_message
          nullable: true
        executionTimeMs:
          type:
          - integer
          - string
          title: execution_time_ms
          format: int64
          nullable: true
        tokensUsed:
          type:
          - integer
          - string
          title: tokens_used
          format: int64
          nullable: true
      title: SubagentCell
      additionalProperties: false
    textql.rpc.public.dataset.SandboxDataFrame:
      type: object
      properties:
        info:
          title: info
          $ref: '#/components/schemas/textql.rpc.public.dataframe.DataFrameInfo'
      title: SandboxDataFrame
      additionalProperties: false
    textql.rpc.public.ontology.LinkedAttributeData:
      type: object
      properties:
        relationId:
          type: string
          title: relation_id
        targetAttributeId:
          type: string
          title: target_attribute_id
      title: LinkedAttributeData
      additionalProperties: false
    textql.rpc.public.cells.SQLReference:
      type: object
      properties:
        toolId:
          type: string
          title: tool_id
      title: SQLReference
      additionalProperties: false
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
      - 1
      description: Define the version of the Connect protocol
      const: 1
      default: 1
    textql.rpc.public.cells.OntologyEditorAction:
      type: string
      title: OntologyEditorAction
      enum:
      - ONTOLOGY_ACTION_UNKNOWN
      - ONTOLOGY_ACTION_LIST
      - ONTOLOGY_ACTION_OBJECT
      - ONTOLOGY_ACTION_LINK
      - ONTOLOGY_ACTION_ATTRIBUTE
      - ONTOLOGY_ACTION_METRIC
    textql.rpc.public.observe.GetActivePeopleTrendResponse:
      type: object
      properties:
        points:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.observe.ActivePeoplePoint'
          title: points
        growthPct:
          type: integer
          title: growth_pct
          format: int32
        bucketUnit:
          type: string
          title: bucket_unit
      title: GetActivePeopleTrendResponse
      additionalProperties: false
    textql.rpc.public.observe.MemberSignalTrendPoint:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
        bucketStart:
          type: string
          title: bucket_start
          description: YYYY-MM-DD, week start
        positive:
          type: integer
          title: positive
          format: int32
        negative:
          type: integer
          title: negative
          format: int32
        analyzed:
          type: integer
          title: analyzed
          format: int32
          description: distinct analyzed threads in the bucket
      title: MemberSignalTrendPoint
      additionalProperties: false
      description: "One (member, week) bucket of signal quality. Weeks with no signals and no\n analyzed threads are omitted; the client zero-fills the axis."
    textql.rpc.public.cells.PythonCell:
      type: object
      properties:
        code:
          type: string
          title: code
        output:
          type: array
          items:
            type: string
          title: output
        dataframeInfo:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.dataframe.DataFrameInfo'
          title: dataframe_info
        dataframePreview:
          type: array
          items:
            type: string
          title: dataframe_preview
        images:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ImageReference'
          title: images
        files:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.FileReference'
          title: files
        htmlScreenshots:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ImageReference'
          title: html_screenshots
        charts:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ChartReference'
          title: charts
        authRequired:
          type: boolean
          title: auth_required
          description: Per-member API OAuth auth hold fields
        authApiAccessKeyId:
          type: string
          title: auth_api_access_key_id
        authProviderName:
          type: string
          title: auth_provider_name
        authCompleted:
          type: boolean
          title: auth_completed
        authMember:
          type: string
          title: auth_member
        authPermissionRequired:
          type: boolean
          title: auth_permission_required
        authGrantType:
          type: string
          title: auth_grant_type
        executionTimeMs:
          type:
          - integer
          - string
          title: execution_time_ms
          format: int64
          nullable: true
      title: PythonCell
      additionalProperties: false
    textql.rpc.public.cells.WebSearchType:
      type: string
      title: WebSearchType
      enum:
      - TYPE_UNKNOWN
      - TYPE_RESEARCH
      - TYPE_QUESTION
      - TYPE_CONTENTS
    textql.rpc.public.dataframe.Uint64Values:
      type: object
      properties:
        values:
          type: array
          items:
            type:
            - integer
            - string
            format: int64
          title: values
      title: Uint64Values
      additionalProperties: false
    textql.rpc.public.cells.SlackUserRef:
      type: object
      properties:
        userId:
          type: string
          title: user_id
        name:
          type: string
          title: name
      title: SlackUserRef
      additionalProperties: false
    textql.rpc.public.ontology.RelationType:
      type: string
      title: RelationType
      enum:
      - RELATION_TYPE_UNSPECIFIED
[...]
