openapi: 3.2.0
info:
  title: TextQL Chat Service API
  version: 1.0.0
  description: 'TextQL public API. Generated from protobuf service definitions; internal

    endpoints are excluded via google.api.visibility / file_visibility.'
servers:
- url: https://app.textql.com/rpc/public
security:
- apiKey: []
tags:
- name: ChatService
paths:
  /textql.rpc.public.chat.ChatService/ApproveContextPromptChange:
    post:
      tags:
      - ChatService
      summary: ApproveContextPromptChange
      operationId: ChatService_ApproveContextPromptChange
      x-speakeasy-group: chats
      x-speakeasy-name-override: approveContextPromptChange
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.ApproveContextPromptChangeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.ApproveContextPromptChangeResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.approveContextPromptChange({\n    body: {\n      cellId: \"<id>\",\n      editedContext: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.approve_context_prompt_change(cell_id=\"<id>\", edited_context=\"<value>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/ApproveOntologyChange:
    post:
      tags:
      - ChatService
      summary: ApproveOntologyChange
      operationId: ChatService_ApproveOntologyChange
      x-speakeasy-group: chats
      x-speakeasy-name-override: approveOntologyChange
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.ApproveOntologyChangeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.ApproveOntologyChangeResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.approveOntologyChange({\n    body: {\n      cellId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.approve_ontology_change(cell_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/AttachAgentToChat:
    post:
      tags:
      - ChatService
      summary: AttachAgentToChat
      operationId: ChatService_AttachAgentToChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: attachAgent
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.AttachAgentToChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.AttachAgentToChatResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.attachAgent({\n    body: {\n      chatId: \"<id>\",\n      agentId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.attach_agent(chat_id=\"<id>\", agent_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/AttachApp:
    post:
      tags:
      - ChatService
      summary: AttachApp
      operationId: ChatService_AttachApp
      x-speakeasy-group: chats
      x-speakeasy-name-override: attachApp
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.AttachAppRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.AttachAppResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.attachApp({\n    body: {\n      chatId: \"<id>\",\n      appId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.attach_app(chat_id=\"<id>\", app_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/AttachDashboard:
    post:
      tags:
      - ChatService
      summary: AttachDashboard
      operationId: ChatService_AttachDashboard
      x-speakeasy-group: chats
      x-speakeasy-name-override: attachDashboard
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.AttachDashboardRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.AttachDashboardResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.attachDashboard({\n    body: {\n      chatId: \"<id>\",\n      dashboardId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.attach_dashboard(chat_id=\"<id>\", dashboard_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/AttachDataset:
    post:
      tags:
      - ChatService
      summary: RateChatCell appends a row to cell_rating for every click; thumbs-down also…
      description: RateChatCell appends a row to cell_rating for every click; thumbs-down also upserts a user_thumbs_down thread_warning.
      operationId: ChatService_AttachDataset
      x-speakeasy-group: chats
      x-speakeasy-name-override: attachDataset
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.AttachDatasetRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.AttachDatasetResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.attachDataset({\n    body: {\n      chatId: \"<id>\",\n      datasetId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.attach_dataset(chat_id=\"<id>\", dataset_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/BookmarkChat:
    post:
      tags:
      - ChatService
      summary: BookmarkChat
      operationId: ChatService_BookmarkChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: bookmark
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.BookmarkChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.bookmark({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.bookmark(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/CancelStream:
    post:
      tags:
      - ChatService
      summary: CancelStream
      operationId: ChatService_CancelStream
      x-speakeasy-group: chats
      x-speakeasy-name-override: cancelStream
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.CancelStreamRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.CancelStreamResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.cancelStream({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.cancel_stream(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/CheckChatPermissions:
    post:
      tags:
      - ChatService
      summary: CheckChatPermissions
      operationId: ChatService_CheckChatPermissions
      x-speakeasy-group: chats
      x-speakeasy-name-override: checkPermissions
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.CheckChatPermissionsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.CheckChatPermissionsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.checkPermissions({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.check_permissions(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/CheckHealth:
    post:
      tags:
      - ChatService
      summary: CheckHealth
      operationId: ChatService_CheckHealth
      x-speakeasy-group: chats
      x-speakeasy-name-override: checkHealth
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.CheckHealthRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.CheckHealthResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.checkHealth({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.check_health()\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/CheckStreamlitHealth:
    post:
      tags:
      - ChatService
      summary: CheckStreamlitHealth
      operationId: ChatService_CheckStreamlitHealth
      x-speakeasy-group: chats
      x-speakeasy-name-override: checkStreamlitHealth
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.CheckStreamlitHealthRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.CheckStreamlitHealthResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.checkStreamlitHealth({\n    body: {\n      chatId: \"<id>\",\n      cellId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.check_streamlit_health(chat_id=\"<id>\", cell_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/CreateChat:
    post:
      tags:
      - ChatService
      summary: CreateChat
      operationId: ChatService_CreateChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: createChat
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.CreateRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.CreateResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.createChat({\n    body: {\n      paradigm: {},\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.create_chat(paradigm={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/DeleteChat:
    post:
      tags:
      - ChatService
      summary: DeleteChat
      operationId: ChatService_DeleteChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: delete
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.DeleteChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.delete({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.delete(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/DismissQuestions:
    post:
      tags:
      - ChatService
      summary: Resolve a halted questions cell.
      description: 'Resolve a halted questions cell. Submit hands the answers to the agent and

        resumes it; Dismiss hands over only the answered count and does NOT resume

        (the user''s next message becomes the dismissal reason).'
      operationId: ChatService_DismissQuestions
      x-speakeasy-group: chats
      x-speakeasy-name-override: dismissQuestions
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.DismissQuestionsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.DismissQuestionsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.dismissQuestions({\n    body: {\n      cellId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.dismiss_questions(cell_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/DuplicateChat:
    post:
      tags:
      - ChatService
      summary: DuplicateChat
      operationId: ChatService_DuplicateChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: duplicateChat
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.DuplicateChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.DuplicateChatResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.duplicateChat({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.duplicate_chat(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetAPIChatAnswer:
    post:
      tags:
      - ChatService
      summary: GetAPIChatAnswer
      operationId: ChatService_GetAPIChatAnswer
      x-speakeasy-group: chats
      x-speakeasy-name-override: getApiAnswer
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetAPIChatAnswerRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetAPIChatAnswerResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getApiAnswer({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_api_answer(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetArtifact:
    post:
      tags:
      - ChatService
      summary: GetArtifact
      operationId: ChatService_GetArtifact
      x-speakeasy-group: chats
      x-speakeasy-name-override: getArtifact
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetArtifactRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetArtifactResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getArtifact({\n    body: {\n      artifactId: \"<id>\",\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_artifact(artifact_id=\"<id>\", chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetChat:
    post:
      tags:
      - ChatService
      summary: GetChat
      operationId: ChatService_GetChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetChatResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.get({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetChatArtifactsSummary:
    post:
      tags:
      - ChatService
      summary: GetChatArtifactsSummary
      operationId: ChatService_GetChatArtifactsSummary
      x-speakeasy-group: chats
      x-speakeasy-name-override: getArtifactsSummary
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetChatArtifactsSummaryRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetChatArtifactsSummaryResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getArtifactsSummary({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_artifacts_summary(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetChatExecutionTiming:
    post:
      tags:
      - ChatService
      summary: GetChatExecutionTiming
      operationId: ChatService_GetChatExecutionTiming
      x-speakeasy-group: chats
      x-speakeasy-name-override: getChatExecutionTiming
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetChatExecutionTimingRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetChatExecutionTimingResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getChatExecutionTiming({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_chat_execution_timing(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetChatHistory:
    post:
      tags:
      - ChatService
      summary: GetChatHistory
      operationId: ChatService_GetChatHistory
      x-speakeasy-group: chats
      x-speakeasy-name-override: getHistory
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.HistoryRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.HistoryResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getHistory({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_history(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetChats:
    post:
      tags:
      - ChatService
      summary: GetChats
      operationId: ChatService_GetChats
      x-speakeasy-group: chats
      x-speakeasy-name-override: getAll
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetChatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetChatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getAll({\n    body: {\n      createdAfter: new Date(\"2023-01-15T01:30:15.01Z\"),\n      createdBefore: new Date(\"2023-01-15T01:30:15.01Z\"),\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\nfrom textql_sdk.utils import parse_datetime\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_all(created_after=parse_datetime(\"2023-01-15T01:30:15.01Z\"), created_before=parse_datetime(\"2023-01-15T01:30:15.01Z\"))\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetCompletionParameters:
    post:
      tags:
      - ChatService
      summary: List distinct chat creators the user can access
      operationId: ChatService_GetCompletionParameters
      x-speakeasy-group: chats
      x-speakeasy-name-override: getCompletionParameters
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetCompletionParametersRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetCompletionParametersResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getCompletionParameters({\n    body: {\n      chatId: \"<id>\",\n      cellId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_completion_parameters(chat_id=\"<id>\", cell_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetCompletionParametersBatch:
    post:
      tags:
      - ChatService
      summary: GetCompletionParametersBatch
      operationId: ChatService_GetCompletionParametersBatch
      x-speakeasy-group: chats
      x-speakeasy-name-override: getCompletionParametersBatch
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetCompletionParametersBatchRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetCompletionParametersBatchResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getCompletionParametersBatch({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_completion_parameters_batch(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetLlmUsage:
    post:
      tags:
      - ChatService
      summary: GetLlmUsage
      operationId: ChatService_GetLlmUsage
      x-speakeasy-group: chats
      x-speakeasy-name-override: getLlmUsage
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetLlmUsageRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetLlmUsageResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getLlmUsage({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_llm_usage(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetMembersWithChats:
    post:
      tags:
      - ChatService
      summary: GetMembersWithChats
      operationId: ChatService_GetMembersWithChats
      x-speakeasy-group: chats
      x-speakeasy-name-override: getMembersWithChats
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetMembersWithChatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetMembersWithChatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getMembersWithChats({\n    body: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_members_with_chats(body={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/GetPlaybookChats:
    post:
      tags:
      - ChatService
      summary: GetPlaybookChats
      operationId: ChatService_GetPlaybookChats
      x-speakeasy-group: chats
      x-speakeasy-name-override: getPlaybookChats
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.GetPlaybookChatsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.GetPlaybookChatsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.getPlaybookChats({\n    body: {\n      playbookId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.get_playbook_chats(playbook_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/PollChatEvents:
    post:
      tags:
      - ChatService
      summary: PollChatEvents
      operationId: ChatService_PollChatEvents
      x-speakeasy-group: chats
      x-speakeasy-name-override: pollEvents
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.PollChatEventsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.PollChatEventsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.pollEvents({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.poll_events(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/QueryOneShot:
    post:
      tags:
      - ChatService
      summary: QueryOneShot
      operationId: ChatService_QueryOneShot
      x-speakeasy-group: chats
      x-speakeasy-name-override: queryOneShot
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.QueryOneShotRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.QueryOneShotResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.queryOneShot({\n    body: {\n      question: \"<value>\",\n      paradigm: {},\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.query_one_shot(question=\"<value>\", paradigm={})\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/RateChatCell:
    post:
      tags:
      - ChatService
      summary: RateChatCell
      operationId: ChatService_RateChatCell
      x-speakeasy-group: chats
      x-speakeasy-name-override: rateCell
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.RateChatCellRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.rateCell({\n    body: {\n      chatId: \"<id>\",\n      cellId: \"<id>\",\n      rating: \"CELL_RATING_UP\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.rate_cell(chat_id=\"<id>\", cell_id=\"<id>\", rating=\"CELL_RATING_UP\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/RejectContextPromptChange:
    post:
      tags:
      - ChatService
      summary: RejectContextPromptChange
      operationId: ChatService_RejectContextPromptChange
      x-speakeasy-group: chats
      x-speakeasy-name-override: rejectContextPromptChange
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.RejectContextPromptChangeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.RejectContextPromptChangeResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.rejectContextPromptChange({\n    body: {\n      cellId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.reject_context_prompt_change(cell_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/RejectOntologyChange:
    post:
      tags:
      - ChatService
      summary: Resolve a halted ask_approval form cell.
      description: 'Resolve a halted ask_approval form cell. Submit runs the form''s submission

        and continues the agent with the outcome; Reject discards it (passive, no

        run); Dismiss treats it as a change request (no run, next message says what

        to change). All three set the cell''s outcome, like the other approve/deny cells.'
      operationId: ChatService_RejectOntologyChange
      x-speakeasy-group: chats
      x-speakeasy-name-override: rejectOntologyChange
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.RejectOntologyChangeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.RejectOntologyChangeResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.rejectOntologyChange({\n    body: {\n      cellId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.reject_ontology_change(cell_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/RunChat:
    post:
      tags:
      - ChatService
      summary: RunChat
      operationId: ChatService_RunChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: run
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.RunChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.RunChatResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.run({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.run(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/SendMessage:
    post:
      tags:
      - ChatService
      summary: SendMessage
      operationId: ChatService_SendMessage
      x-speakeasy-group: chats
      x-speakeasy-name-override: send
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.SendRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.SendResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.send({\n    body: {\n      chatId: \"<id>\",\n      message: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.send(chat_id=\"<id>\", message=\"<value>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/SubmitContextPromptChange:
    post:
      tags:
      - ChatService
      summary: SubmitContextPromptChange
      operationId: ChatService_SubmitContextPromptChange
      x-speakeasy-group: chats
      x-speakeasy-name-override: submitContextPromptChange
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.SubmitContextPromptChangeRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.SubmitContextPromptChangeResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.submitContextPromptChange({\n    body: {\n      cellId: \"<id>\",\n      editedContext: \"<value>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.submit_context_prompt_change(cell_id=\"<id>\", edited_context=\"<value>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/SubmitQuestions:
    post:
      tags:
      - ChatService
      summary: SubmitQuestions
      operationId: ChatService_SubmitQuestions
      x-speakeasy-group: chats
      x-speakeasy-name-override: submitQuestions
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.SubmitQuestionsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.SubmitQuestionsResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.submitQuestions({\n    body: {\n      cellId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.submit_questions(cell_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/UnbookmarkChat:
    post:
      tags:
      - ChatService
      summary: UnbookmarkChat
      operationId: ChatService_UnbookmarkChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: unbookmark
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.UnbookmarkChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.unbookmark({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.unbookmark(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
  /textql.rpc.public.chat.ChatService/UpdateChat:
    post:
      tags:
      - ChatService
      summary: UpdateChat
      operationId: ChatService_UpdateChat
      x-speakeasy-group: chats
      x-speakeasy-name-override: update
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textql.rpc.public.chat.UpdateChatRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textql.rpc.public.chat.UpdateChatResponse'
      x-codeSamples:
      - lang: typescript
        label: TypeScript (SDK)
        source: "import { Textql } from \"@textql/sdk\";\n\nconst textql = new Textql({\n  apiKey: process.env[\"TEXTQL_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await textql.chats.update({\n    body: {\n      chatId: \"<id>\",\n    },\n  });\n\n  console.log(result);\n}\n\nrun();"
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom textql_sdk import Textql\n\n\nwith Textql(\n    api_key=os.getenv(\"TEXTQL_API_KEY\", \"\"),\n) as textql:\n\n    res = textql.chats.update(chat_id=\"<id>\")\n\n    # Handle response\n    print(res)"
components:
  schemas:
    textql.rpc.public.chat.RejectContextPromptChangeRequest:
      type: object
      properties:
        cellId:
          type: string
          title: cell_id
          description: UUID
      title: RejectContextPromptChangeRequest
      required:
      - cellId
      additionalProperties: false
      description: context prompt change management
    textql.rpc.public.chat.ArtifactType:
      type: string
      title: ArtifactType
      enum:
      - ARTIFACT_TYPE_UNKNOWN
      - ARTIFACT_TYPE_IMAGE
      - ARTIFACT_TYPE_CSV
      - ARTIFACT_TYPE_PDF
      - ARTIFACT_TYPE_HTML
      - ARTIFACT_TYPE_TEXT
      - ARTIFACT_TYPE_STREAMLIT
      - ARTIFACT_TYPE_DASHBOARD
      - ARTIFACT_TYPE_FORM
      - ARTIFACT_TYPE_REPORT
      - ARTIFACT_TYPE_AGENT
      - ARTIFACT_TYPE_HTML_CHART
      - ARTIFACT_TYPE_APP
      - ARTIFACT_TYPE_DASHBOARD_PREVIEW
      - ARTIFACT_TYPE_SKILL
      - ARTIFACT_TYPE_PATCH_DIFF
      description: Artifact types for drawer items
    textql.rpc.public.chat.ChatMessage:
      type: object
      properties:
        role:
          type: string
          title: role
        content:
          type: string
          title: content
        createdAt:
          title: created_at
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
      title: ChatMessage
      additionalProperties: false
    textql.rpc.public.cells.AnswerCell:
      type: object
      properties:
        content:
          type: string
          title: content
        images:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ImageReference'
          title: images
        sql:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.SQLReference'
          title: sql
      title: AnswerCell
      additionalProperties: false
    textql.rpc.public.cells.FileReference:
      type: object
      properties:
        name:
          type: string
          title: name
        url:
          type: string
          title: url
        fileType:
          type: string
          title: file_type
      title: FileReference
      additionalProperties: false
    textql.rpc.public.cells.OntologyObjectDimensionLite:
      type: object
      properties:
        dimensionId:
          type: string
          title: dimension_id
        dimensionName:
          type: string
          title: dimension_name
        dimensionDescription:
          type: string
          title: dimension_description
        dimensionType:
          type: string
          title: dimension_type
      title: OntologyObjectDimensionLite
      additionalProperties: false
    textql.rpc.public.cells.TeamsUserRef:
      type: object
      properties:
        userAadId:
          type: string
          title: user_aad_id
        name:
          type: string
          title: name
      title: TeamsUserRef
      additionalProperties: false
    textql.rpc.public.chat.CheckStreamlitHealthRequest:
      type: object
      properties:
        chatId:
          type: string
          title: chat_id
        cellId:
          type: string
          title: cell_id
      title: CheckStreamlitHealthRequest
      required:
      - chatId
      - cellId
      additionalProperties: false
    textql.rpc.public.chat.FileArtifactData:
      type: object
      properties:
        url:
          type: string
          title: url
          description: Cell ID or composite "cellId:type:url" for multi-artifact cells
        type:
          title: type
          $ref: '#/components/schemas/textql.rpc.public.chat.ArtifactType'
      title: FileArtifactData
      additionalProperties: false
      description: Request full artifact data when item is selected
    textql.rpc.public.chat.AttachAgentToChatResponse:
      type: object
      properties:
        chat:
          title: chat
          $ref: '#/components/schemas/textql.rpc.public.chat.Chat'
      title: AttachAgentToChatResponse
      additionalProperties: false
    textql.rpc.public.cells.ReportHistoryCell:
      type: object
      properties:
        reports:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ReportHistoryInfo'
          title: reports
        totalCount:
          type: integer
          title: total_count
          format: int32
        errorMessage:
          type: string
          title: error_message
          nullable: true
      title: ReportHistoryCell
      additionalProperties: false
    textql.rpc.public.dataframe.ByteValues:
      type: object
      properties:
        values:
          type: array
          items:
            type: string
            format: byte
          title: values
      title: ByteValues
      additionalProperties: false
    textql.rpc.public.cells.ListDashboardsCell:
      type: object
      properties:
        searchTerm:
          type: string
          title: search_term
        dashboardId:
          type: string
          title: dashboard_id
          description: Set for single-dashboard lookup
        totalCount:
          type: integer
          title: total_count
          format: int32
        sandboxAvailable:
          type: boolean
          title: sandbox_available
        errorMessage:
          type: string
          title: error_message
          nullable: true
        dashboards:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.DashboardInfo'
          title: dashboards
      title: ListDashboardsCell
      additionalProperties: false
    textql.rpc.public.chat.RejectOntologyChangeResponse:
      type: object
      properties:
        success:
          type: boolean
          title: success
        message:
          type: string
          title: message
        resumed:
          type: boolean
          title: resumed
        resumeError:
          type: string
          title: resume_error
      title: RejectOntologyChangeResponse
      additionalProperties: false
    textql.rpc.public.cells.ConnectorRef:
      type: object
      properties:
        id:
          type: integer
          title: id
          format: int32
        name:
          type: string
          title: name
        type:
          type: string
          title: type
      title: ConnectorRef
      additionalProperties: false
      description: Reference types for context data
    textql.rpc.public.cells.WebSearchCell:
      type: object
      properties:
        query:
          type: string
          title: query
        searchType:
          title: search_type
          $ref: '#/components/schemas/textql.rpc.public.cells.WebSearchType'
        dateRange:
          title: date_range
          $ref: '#/components/schemas/textql.rpc.public.cells.DateRange'
        answer:
          type: string
          title: answer
          nullable: true
        exaResults:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.ExaSearchResult'
          title: exa_results
        costDollars:
          type: number
          title: cost_dollars
          format: double
          nullable: true
        executionTimeMs:
          type:
          - integer
          - string
          title: execution_time_ms
          format: int64
          nullable: true
      title: WebSearchCell
      additionalProperties: false
    textql.rpc.public.cells.AppInfo:
      type: object
      properties:
        id:
          type: string
          title: id
        name:
          type: string
          title: name
        description:
          type: string
          title: description
          nullable: true
        status:
          type: string
          title: status
          description: '"draft" or "published" (derived from published_at)'
        creatorId:
          type: string
          title: creator_id
        createdAt:
          title: created_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        updatedAt:
          title: updated_at
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        refreshedAt:
          title: refreshed_at
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
        publishedAt:
          title: published_at
          nullable: true
          $ref: '#/components/schemas/google.protobuf.Timestamp'
      title: AppInfo
      additionalProperties: false
    textql.rpc.public.chat.WatchHeartbeatEvent:
      type: object
      title: WatchHeartbeatEvent
      additionalProperties: false
    textql.rpc.public.ontology.ObjectRef:
      type: object
      properties:
        objectRef:
          type: string
          title: object_ref
      title: ObjectRef
      additionalProperties: false
    textql.rpc.public.chat.CancelStreamResponse:
      type: object
      properties:
        exists:
          type: boolean
          title: exists
      title: CancelStreamResponse
      additionalProperties: false
    textql.rpc.public.dashboard.DashboardCreator:
      type: object
      properties:
        memberId:
          type: string
          title: member_id
        memberEmail:
          type: string
          title: member_email
          nullable: true
        memberName:
          type: string
          title: member_name
          nullable: true
      title: DashboardCreator
      additionalProperties: false
    textql.rpc.public.cells.SubagentCell:
      type: object
      properties:
        objective:
          type: string
          title: objective
        subagentName:
          type: string
          title: subagent_name
        agentId:
          type: string
          title: agent_id
          nullable: true
        detached:
          type: boolean
          title: detached
        childChatId:
          type: string
          title: child_chat_id
        status:
          title: status
          $ref: '#/components/schemas/textql.rpc.public.cells.SubagentRunStatus'
        finalMessage:
          type: string
          title: final_message
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.FileReference'
          title: artifacts
        depth:
          type: integer
          title: depth
          format: int32
        errorMessage:
          type: string
          title: error_message
          nullable: true
        executionTimeMs:
          type:
          - integer
          - string
          title: execution_time_ms
          format: int64
          nullable: true
        tokensUsed:
          type:
          - integer
          - string
          title: tokens_used
          format: int64
          nullable: true
      title: SubagentCell
      additionalProperties: false
    textql.rpc.public.dataset.SandboxDataFrame:
      type: object
      properties:
        info:
          title: info
          $ref: '#/components/schemas/textql.rpc.public.dataframe.DataFrameInfo'
      title: SandboxDataFrame
      additionalProperties: false
    textql.rpc.public.ontology.LinkedAttributeData:
      type: object
      properties:
        relationId:
          type: string
          title: relation_id
        targetAttributeId:
          type: string
          title: target_attribute_id
      title: LinkedAttributeData
      additionalProperties: false
    textql.rpc.public.cells.SQLReference:
      type: object
      properties:
        toolId:
          type: string
          title: tool_id
      title: SQLReference
      additionalProperties: false
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
      - 1
      description: Define the version of the Connect protocol
      const: 1
      default: 1
    textql.rpc.public.cells.SlackUserRef:
      type: object
      properties:
        userId:
          type: string
          title: user_id
        name:
          type: string
          title: name
      title: SlackUserRef
      additionalProperties: false
    textql.rpc.public.ontology.RelationType:
      type: string
      title: RelationType
      enum:
      - RELATION_TYPE_UNSPECIFIED
      - RELATION_TYPE_ONE_TO_MANY
      - RELATION_TYPE_MANY_TO_ONE
      - RELATION_TYPE_ONE_TO_ONE
      - RELATION_TYPE_MANY_TO_MANY
    textql.rpc.public.dataframe.BoolValues:
      type: object
      properties:
        values:
          type: array
          items:
            type: boolean
          title: values
      title: BoolValues
      additionalProperties: false
    textql.rpc.public.chat.GetLlmUsageRequest:
      type: object
      properties:
        chatId:
          type: string
          title: chat_id
        includeCosts:
          type: boolean
          title: include_costs
      title: GetLlmUsageRequest
      required:
      - chatId
      additionalProperties: false
    textql.rpc.public.chat.ApproveOntologyChangeResponse:
      type: object
      properties:
        success:
          type: boolean
          title: success
        message:
          type: string
          title: message
        resumed:
          type: boolean
          title: resumed
        resumeError:
          type: string
          title: resume_error
      title: ApproveOntologyChangeResponse
      additionalProperties: false
    textql.rpc.public.chat.GetLlmUsageResponse:
      type: object
      properties:
        usage:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.chat.LlmUsage'
          title: usage
        contextWindowUsed:
          type: number
          title: context_window_used
          format: double
        estimatedCost:
          type: number
          title: estimated_cost
          format: double
          nullable: true
        estimatedComputeCost:
          type: number
          title: estimated_compute_cost
          format: double
          nullable: true
        sandboxId:
          type: string
          title: sandbox_id
          nullable: true
        estimatedComputeAcus:
          type: number
          title: estimated_compute_acus
          format: double
          nullable: true
      title: GetLlmUsageResponse
      additionalProperties: false
    textql.rpc.public.dataset.PowerBIData:
      type: object
      properties:
        connectorId:
          type: integer
          title: connector_id
          format: int32
        reportIds:
          type: array
          items:
            type: string
          title: report_ids
        datasetIds:
          type: array
          items:
            type: string
          title: dataset_ids
        reportNames:
          type: array
          items:
            type: string
          title: report_names
        datasetNames:
          type: array
          items:
            type: string
          title: dataset_names
        workspaceId:
          type: string
          title: workspace_id
        workspaceName:
          type: string
          title: workspace_name
      title: PowerBIData
      additionalProperties: false
    google.protobuf.Struct:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/google.protobuf.Value'
      description: "`Struct` represents a structured data value, consisting of fields\n which map to dynamically typed values. In some languages, `Struct`\n might be supported by a native representation. For example, in\n scripting languages like JS a struct is represented as an\n object. The details of that representation are described together\n with the proto support for the language.\n\n The JSON representation for `Struct` is JSON object."
    textql.rpc.public.ontology.GraphPosition:
      type: object
      properties:
        x:
          type: number
          title: x
          format: double
        y:
          type: number
          title: y
          format: double
      title: GraphPosition
      additionalProperties: false
    textql.rpc.public.chat.GetChatExecutionTimingRequest:
      type: object
      properties:
        chatId:
          type: string
          title: chat_id
      title: GetChatExecutionTimingRequest
      required:
      - chatId
      additionalProperties: false
    textql.rpc.public.chat.GetPlaybookChatsRequest:
      type: object
      properties:
        playbookId:
          type: string
          title: playbook_id
        limit:
          type: integer
          title: limit
          nullable: true
        skip:
          type: integer
          title: skip
          nullable: true
      title: GetPlaybookChatsRequest
      required:
      - playbookId
      additionalProperties: false
    textql.rpc.public.chat.GetCompletionParametersResponse:
      type: object
      properties:
        params:
          title: params
          $ref: '#/components/schemas/textql.rpc.public.chat.LlmCompletionParameters'
      title: GetCompletionParametersResponse
      additionalProperties: false
    textql.rpc.public.cells.EmailCell:
      type: object
      properties:
        to:
          type: array
          items:
            type: string
          title: to
          description: Inputs (set by the LLM at cell creation time)
        subject:
          type: string
          title: subject
        body:
          type: string
          title: body
          description: markdown — rendered to HTML at send time
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.EmailRecipient'
          title: recipients
          description: Resolved recipients after internal-only enforcement
        status:
          type: string
          title: status
          description: Result fields (populated by Execute) "sent" | "failed" | "blocked"
        sentAt:
          type: string
          title: sent_at
          nullable: true
        messageId:
          type: string
          title: message_id
          nullable: true
        errorMessage:
          type: string
          title: error_message
          nullable: true
        errorClass:
          type: string
          title: error_class
          description: machine-readable error category
          nullable: true
        sentCount:
          type: integer
          title: sent_count
          format: int32
          description: "Number of recipients to which the provider call succeeded during this\n Execute pass. Not derivable from Status — a partial-failure cell has\n Status=failed with sent_count > 0."
        renderedBodyHtml:
          type: string
          title: rendered_body_html
          description: "The rendered HTML body of the email — exactly what landed in inboxes,\n including the actor signature footer. The frontend's EmailCell renders\n this verbatim via {@html ...} in its preview, so a viewer sees what\n recipients saw without the FE having to repeat the render pipeline.\n Already sanitized server-side (sanitizeEmailHTML) and self-contained\n for inline use within the chat thread."
          nullable: true
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.EmailAttachment'
          title: attachments
      title: EmailCell
      additionalProperties: false
      description: "EmailCell is the agent's \"send an email\" output. It is an executable cell:\n the LLM emits the input (to/subject/body) and the framework executes the\n send, mutating the result fields. The cell renders as a transcript (\"Email\n sent to maya@acme.com at 2:14pm\") with the body visible after the fact."
    textql.rpc.public.cells.ContextPromptEditorCell:
      type: object
      properties:
        action:
          title: action
          $ref: '#/components/schemas/textql.rpc.public.cells.ContextPromptEditorAction'
        currentContext:
          type: string
          title: current_context
          nullable: true
        proposedContext:
          type: string
          title: proposed_context
          nullable: true
        diff:
          type: string
          title: diff
          nullable: true
        status:
          title: status
          $ref: '#/components/schemas/textql.rpc.public.cells.ContextPromptChangeStatus'
        errorMessage:
          type: string
          title: error_message
          nullable: true
        contextId:
          type: string
          title: context_id
          nullable: true
      title: ContextPromptEditorCell
      additionalProperties: false
    textql.rpc.public.cells.MarkdownCell:
      type: object
      properties:
        content:
          type: string
          title: content
        renderedHtml:
          type: string
          title: rendered_html
        citations:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.public.cells.Citation'
          title: citations
      title: MarkdownCell
      additionalProperties: false
    textql.rpc.public.reports.SpacerBlock:
      type: object
      properties:
        height:
          type: integer
          title: height
          format: int32
          nullable: true
      title: SpacerBlock
      additionalProperties: false
    textql.rpc.public.chat.StreamlitHealthStatus:
      type: string
      title: StreamlitHealthStatus
      enum:
      - STREAMLIT_HEALTH_STATUS_NOT_RUNNING
      - STREAMLIT_HEALTH_STATUS_HEALTHY
      - STREAMLIT_HEALTH_STATUS_STARTING
      - STREAMLIT_HEALTH_STATUS_FAILED
      - STREAMLIT_HEALTH_STATUS_UPDATING
    textql.rpc.public.chat.AttachDashboardResponse:
      type: object
      properties:
        cell:
          title: cell
          $ref: '#/components/schemas/textql.rpc.public.chat.Cell'
        dashboard:
          title: dashboard
          $ref: '#/components/schemas/textql.rpc.public.dashboard.Dashboard'
      title: AttachDashboardResponse
      additionalProperties: false
    google.protobuf.Value:
      oneOf:
      - type: 'null'
      - type: number
      - type: string
      - type: boolean
      - type: array
      - type: object
        additionalProperties: true
      description: "`Value` represents a dynamically typed value which can be either\n null, a number, a string, a boolean, a recursive struct value, or a\n list of values. A producer of value is expected to set one of these\n variants. Absence of any variant indicates an error.\n\n The JSON representation for `Value` is JSON value."
    textql.rpc.public.chat.WatchHandoffPendingEvent:
      type: object
      properties:
        handoffMarker:
          type: string
          title: handoff_marker
      title: WatchHandoffPendingEvent
      additionalProperties: false
    textql.rpc.public.paradigm.UniversalOptions:
      type: object
      properties:
        connectorIds:
          type: array
          items:
            type: integer
            format: int32
          title: connector_ids
        datasetId:
          type: string
          title: dataset_id
          nullable: true
        webSearchEnabled:
          type: boolean
          title: web_search_enabled
        sqlEnabled:
          type: boolean
          title: sql_enabled
        ontologyEnabled:
          type: boolean
          title: ontology_enabled
        ontologyEditingEnabled:
          type: boolean
          title: ontology_editing_enabled
        pythonEnabled:
          type: boolean
          title: python_enabled
        autoApproveEnabled:
          type: boolean
          title: auto_approve_enabled
        googleDriveEnabled:
          type: boolean
          title: google_drive_enabled
        powerbiEnabled:
          type: boolean
          title: powerbi_enabled
        contextEditingEnabled:
          type: boolean
          title: context_editing_enabled
        formEditorEnabled:
          type: boolean
          title: form_editor_enabled
        playbookToolsEnabled:
          type: boolean
          title: playbook_tools_enabled
        microsoft365Enabled:
          type: boolean
          title: microsoft365_enabled
        feedExplorerEnabled:
          type: boolean
          title: feed_explorer_enabled
        bashEnabled:
          type: boolean
          title: bash_enabled
        javascriptEnabled:
          type: boolean
          title: javascript_enabled
        feedPostEnabled:
          type: boolean
          title: feed_post_enabled
        feedCommentEnabled:
          type: boolean
          title: feed_comment_enabled
        feedEngageEnabled:
          type: boolean
          title: feed_engage_enabled
        streamlitEnabled:
          type: boolean
          title: streamlit_enabled
        compactionDisabled:
          type: boolean
          title: compaction_disabled
        gmailEnabled:
          type: boolean
          title: gmail_enabled
        chatHistorySearchEnabled:
          type: boolean
          title: chat_history_search_enabled
        googleCalendarEnabled:
          type: boolean
          title: google_calendar_enabled
        emailOutputEnabled:
          type: boolean
          title: email_output_enabled
        powerbiSelections:
          type: array
          items:
            $ref: '#/components/schemas/textql.rpc.powerbi_selection.PowerBISelection'
          title: powerbi_selections
        smsMode:
          type: boolean
          title: sms_mode
        apiAccessKeyIds:
          type: array
          items:
            type: string
          title: api_access_key_ids
        feedEnabled:
          type: boolean
          title: feed_enabled
          nullable: true
        fileGenerationDisabled:
          type: boolean
          title: file_generation_disabled
      title: UniversalOptions
      additionalProperties: false
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`. This is used to determine the schema of the data in the `value` field and is the discriminator for the `debug` field.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          oneOf:
          - type: object
            title: Any
            additionalProperties: true
            description: Detailed error information.
          discriminator:
            propertyName: type
          title: Debug
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    textql.rpc.public.cells.OntologyMetricSearchMatch:
      type: object
      properties:
        metricId:
          type: string
          title: metric_id
        metricName:
          type: string
          title: metric_name
        metricDescription:
          type: string
          title: metric_description
        metricAggregation:
          type: string
          title: metric_aggregation
        objectId:
          type: string
          title: object_id
        objectName:
          type: string
          title: object_name
      title: OntologyMetricSearchMatch
      additionalProperties: false
    textql.rpc.public.cells.SubagentRunStatus:
[...]
